Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

Add Google search
  quickstarts/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  quickstarts/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  quickstarts/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

migrated
  quickstarts/Function_calling_config.ipynb
Labels: status:awaiting review, component:quickstarts

lint checked
  quickstarts/Function_calling_config.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Function_calling_config.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

migrated
  quickstarts/Safety.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt and lint checked
  quickstarts/Safety.ipynb
Labels: status:awaiting review, component:quickstarts

year change
  quickstarts/Safety.ipynb
Labels: status:awaiting review, component:quickstarts

implemented comments
  examples/Classify_text_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

Updated according to comments
  examples/Classify_text_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

Updated according to comments
  examples/Classify_text_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

Updated according to comments
  examples/Classify_text_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

Update package to google-genai in `examples/Search_reranking_using_embeddings.ipynb`
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

small change
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Update quickstarts/Audio.ipynb
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

just a minor check
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Update package to google-genai in examples/Search_reranking_using_embeddings.ipynb
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

format
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

half done
  examples/Translate_a_Public_Domain_Book.ipynb
Labels: status:awaiting review, component:examples

Create config.yaml to configure the code assist integration
  .gemini/config.yaml
Labels: status:awaiting review

Creating a styleguide
  .gemini/styleguide.md
Labels: status:awaiting review

Setting the threshold to medium so we can see what's being reported.
  .gemini/config.yaml
Labels: status:awaiting review

Adding some style instructions
  .gemini/styleguide.md
Labels: status:awaiting review

Minor typo
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Updated `Zero_shot_prompting.ipynb` to `google-genai` SDK (#621)
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Fixes typo and add URL explanations
  .gemini/styleguide.md
Labels: status:awaiting review

updated Few_shot_prompting.ipynb to use google-genai SDK
  examples/prompting/Few_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

minor fix
  examples/prompting/Few_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Update package to google-genai in `examples/Classify_text_with_embeddings.ipynb` (#622)
  examples/Classify_text_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  quickstarts/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

feat: format
  quickstarts/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

Revert "Created using Colab"
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

feat: original
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

feat: format
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

used pprint for printing safety
  quickstarts/Safety.ipynb
Labels: status:awaiting review, component:quickstarts

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*
