Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

Trying to add a poster image
  quickstarts/Get_started_Veo.ipynb
Labels: status:awaiting review, component:quickstarts

Hack
  quickstarts/Get_started_Veo.ipynb
Labels: status:awaiting review, component:quickstarts

Rerunning
  quickstarts/Get_started_Veo.ipynb
Labels: status:awaiting review, component:quickstarts

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: status:awaiting review

Cachiman Get_started_LiveAPI.py
  quickstarts/websockets/Get_started_LiveAPI.py
Labels: status:awaiting review, component:quickstarts

Updating the new pro model alias in the examples (#754)
  examples/Virtual_Try_On.ipynb
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Audio.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Enum.ipynb
  quickstarts/File_API.ipynb
  quickstarts/Get_started.ipynb
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/Models.ipynb
  quickstarts/PDF_Files.ipynb
  quickstarts/Prompting.ipynb
  quickstarts/Safety.ipynb
  quickstarts/Search_Grounding.ipynb
  quickstarts/System_instructions.ipynb
  quickstarts/Template.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

Last try
  quickstarts/Get_started_Veo.ipynb
Labels: status:awaiting review, component:quickstarts

Trying to keep the videos
  quickstarts/Get_started_Veo.ipynb
Labels: status:awaiting review, component:quickstarts

final try
  quickstarts/Get_started_Veo.ipynb
Labels: status:awaiting review, component:quickstarts

Update Video_understanding.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

add community badge
  examples/mlflow/MLflow_Observability.ipynb
Labels: status:awaiting review, component:examples

Add notebook for MLflow Tracing (#543)
  examples/README.md
  examples/mlflow/MLflow_Observability.ipynb
  examples/mlflow/README.md
Labels: status:awaiting review, component:examples

Rerunning with flash-2.5 and fixing prompt for live with tools
  quickstarts/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

Rerunning all the quickstarts
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Audio.ipynb
  quickstarts/Code_Execution.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/File_API.ipynb
  quickstarts/Function_calling.ipynb
  quickstarts/Get_started.ipynb
  quickstarts/PDF_Files.ipynb
  quickstarts/Prompting.ipynb
  quickstarts/System_instructions.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

Formatting all notebooks
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Audio.ipynb
  quickstarts/Code_Execution.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/File_API.ipynb
  quickstarts/Function_calling.ipynb
  quickstarts/Get_started.ipynb
  quickstarts/PDF_Files.ipynb
  quickstarts/Prompting.ipynb
  quickstarts/System_instructions.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

Initial mitigation update and testing
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

Updated with citations error fix
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

function calling fixed with new sdk
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

fixed optional manual function call
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

function result
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

fixed all the cells needs docs update
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

updated documentation
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

Fix search reranking using embeddings notebook with new SDK #446
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*
