Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*

update readme format
  examples/gemini_chatbot/README.md
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Plant_Health_Analyzer.ipynb
Labels: status:awaiting review, component:examples

done
  examples/Plant_Health_Analyzer.ipynb
Labels: status:awaiting review, component:examples

adding format and linting for jupyter notebook
  examples/gemini_chatbot/chatbot_demo.ipynb
  examples/gemini_chatbot/fomat.sh
  examples/gemini_chatbot/gemini_chatbot.ipynb
Labels: status:awaiting review, component:examples

reformat and add example and summary to jupyter notebook
  examples/gemini_chatbot/fomat.sh
  examples/gemini_chatbot/gemini_chatbot.ipynb
Labels: status:awaiting review, component:examples

added summary
  examples/gemini_chatbot/gemini_chatbot.ipynb
Labels: status:awaiting review, component:examples

add a valid license header to .py and .sh
  examples/gemini_chatbot/fomat.sh
  examples/gemini_chatbot/main_app.py
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Social_Media_Caption.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Social_Media_Caption.ipynb
Labels: status:awaiting review, component:examples

format
  examples/Social_Media_Caption.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/json_capabilities/Entity_Extraction_JSON.ipynb
Labels: status:awaiting review, component:examples

format
  examples/json_capabilities/Entity_Extraction_JSON.ipynb
Labels: status:awaiting review, component:examples

2025
  examples/json_capabilities/Entity_Extraction_JSON.ipynb
Labels: status:awaiting review, component:examples

update live demo and notebook colab badge and url
  examples/gemini_chatbot/README.md
Labels: status:awaiting review, component:examples

update live demo and notebook colab badge and url
  examples/gemini_chatbot/README.md
Labels: status:awaiting review, component:examples

resize screenshot
  examples/gemini_chatbot/README.md
Labels: status:awaiting review, component:examples

resize screenshot and update badge color for streamlit
  examples/gemini_chatbot/README.md
Labels: status:awaiting review, component:examples

lolz
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

we => you
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

Update : Implemented suggestions provided
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

Update : All suggestions implemented
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

update live api tools
  quickstarts/Get_started_LiveAPI_tools.ipynb
Labels: status:awaiting review, component:quickstarts

update live api tools
  quickstarts/Get_started_LiveAPI_tools.ipynb
Labels: status:awaiting review, component:quickstarts

Update live api tools (#740)
  quickstarts/Get_started_LiveAPI_tools.ipynb
Labels: status:awaiting review, component:quickstarts

Exclude rebase/merge files from lint/fmt checks
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

fix: Add fetch history to fmt (only did lint before)
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

update
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
Labels: status:awaiting review, component:quickstarts

lint and format
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
Labels: status:awaiting review, component:quickstarts

Update OpenAI Getting Started to add new `reasoning_effort` (#743)
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
Labels: status:awaiting review, component:quickstarts

Exclude rebase/merge files from lint/fmt checks (#742)
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

Merged `examples/function_calling_config.ipynb` into `examples/function_calling.ipynb` notebook (#631)
  quickstarts/Function_calling.ipynb
  quickstarts/Function_calling_config.ipynb
Labels: status:awaiting review, component:quickstarts

Add files via upload
  quickstarts/Get_Started_Learnlm.ipynb
Labels: status:awaiting review, component:quickstarts

you => we
  quickstarts/Get_Started_Learnlm.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Get_Started_Learnlm.ipynb
Labels: status:awaiting review, component:quickstarts

add 2.5 flash preview to model id param
  examples/prompting/Basic_Evaluation.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Podcast_and_Audio_Transcription.ipynb
Labels: status:awaiting review, component:examples

Updated Basic_Evaluation.ipynb to use google-genai (#642)
  examples/prompting/Basic_Evaluation.ipynb
Labels: status:awaiting review, component:examples

fix : notebook formatted
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

Minimum version
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts
