Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*

Update import advice in template (#691)
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts

Fix multiple broken links (#734)
  examples/LiveAPI_plotting_and_mapping.ipynb
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/Get_started_LiveAPI_tools.ipynb
  quickstarts/websockets/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

fix contractions
  quickstarts/Authentication.ipynb
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Feature: fix and complete Get_started.ipynb
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

simplified instructions
  quickstarts/Get_Started_Learnlm.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Get_Started_Learnlm.ipynb
Labels: status:awaiting review, component:quickstarts

implemented suggestions
  quickstarts/Get_started_thinking_REST.ipynb
Labels: status:awaiting review, component:quickstarts

platypus guess
  quickstarts/Get_started_thinking_REST.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Get_started_thinking_REST.ipynb
Labels: status:awaiting review, component:quickstarts

Update Get_started_thinking_REST.ipynb
  quickstarts/Get_started_thinking_REST.ipynb
Labels: status:awaiting review, component:quickstarts

minor fixes
  examples/prompting/Basic_Code_Review.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/prompting/Basic_Code_Review.ipynb
Labels: status:awaiting review, component:examples

Improve wording (#746)
  quickstarts/Authentication.ipynb
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

fix formatting
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

Adding new bagdes (community contributions, pricing warnings, preview features notices)
  examples/Virtual_Try_On.ipynb
  quickstarts/Image_out.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

Adding badges everywhere
  examples/Virtual_Try_On.ipynb
  quickstarts/Image_out.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

Adding badges to the template
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts

Format and Lint
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts

Improve wording in Get_started.ipynb (#747)
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  quickstarts/Get_started_LearnLM.ipynb
Labels: status:awaiting review, component:quickstarts

removed old file
  quickstarts/Get_Started_Learnlm.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt and README update
  quickstarts/Get_started_LearnLM.ipynb
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Updating the pro 2.5 model alias
  examples/Agents_Function_Calling_Barista_Bot.ipynb
  examples/Analyze_a_Video_Classification.ipynb
  examples/Analyze_a_Video_Historic_Event_Recognition.ipynb
  examples/Analyze_a_Video_Summarization.ipynb
  examples/Apollo_11.ipynb
  examples/Entity_Extraction.ipynb
  examples/Market_a_Jet_Backpack.ipynb
  examples/Opossum_search.ipynb
  examples/Pdf_structured_outputs_on_invoices_and_forms.ipynb
  examples/Search_grounding_for_research_report.ipynb
  examples/Story_Writing_with_Prompt_Chaining.ipynb
  examples/Tag_and_caption_images.ipynb
  examples/Talk_to_documents_with_embeddings.ipynb
  examples/Translate_a_Public_Domain_Book.ipynb
  examples/Upload_files_to_Colab.ipynb
  examples/Virtual_Try_On.ipynb
  examples/Working_with_Charts_Graphs_and_Slide_Decks.ipynb
  examples/chromadb/Vectordb_with_chroma.ipynb
  examples/json_capabilities/Entity_Extraction_JSON.ipynb
  examples/json_capabilities/Sentiment_Analysis.ipynb
  examples/json_capabilities/Text_Classification.ipynb
  examples/json_capabilities/Text_Summarization.ipynb
  examples/prompting/Adding_context_information.ipynb
  examples/prompting/Basic_Code_Generation.ipynb
  examples/prompting/Basic_Evaluation.ipynb
  examples/prompting/Basic_Information_Extraction.ipynb
  examples/prompting/Basic_Reasoning.ipynb
  examples/prompting/Chain_of_thought_prompting.ipynb
  examples/prompting/Few_shot_prompting.ipynb
  examples/prompting/Role_prompting.ipynb
  examples/prompting/Self_ask_prompting.ipynb
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Cachiman_Get_started_LiveAPI.py
  quickstarts/websockets/Get_started_LiveAPI.py
Labels: status:awaiting review, component:quickstarts

Updating the pro 2.5 model alias for all examples (#752)
  examples/Agents_Function_Calling_Barista_Bot.ipynb
  examples/Analyze_a_Video_Classification.ipynb
  examples/Analyze_a_Video_Historic_Event_Recognition.ipynb
  examples/Analyze_a_Video_Summarization.ipynb
  examples/Apollo_11.ipynb
  examples/Entity_Extraction.ipynb
  examples/Market_a_Jet_Backpack.ipynb
  examples/Opossum_search.ipynb
  examples/Pdf_structured_outputs_on_invoices_and_forms.ipynb
  examples/Search_grounding_for_research_report.ipynb
  examples/Story_Writing_with_Prompt_Chaining.ipynb
  examples/Tag_and_caption_images.ipynb
  examples/Talk_to_documents_with_embeddings.ipynb
  examples/Translate_a_Public_Domain_Book.ipynb
  examples/Upload_files_to_Colab.ipynb
  examples/Virtual_Try_On.ipynb
  examples/Working_with_Charts_Graphs_and_Slide_Decks.ipynb
  examples/chromadb/Vectordb_with_chroma.ipynb
  examples/json_capabilities/Entity_Extraction_JSON.ipynb
  examples/json_capabilities/Sentiment_Analysis.ipynb
  examples/json_capabilities/Text_Classification.ipynb
  examples/json_capabilities/Text_Summarization.ipynb
  examples/prompting/Adding_context_information.ipynb
  examples/prompting/Basic_Code_Generation.ipynb
  examples/prompting/Basic_Evaluation.ipynb
  examples/prompting/Basic_Information_Extraction.ipynb
  examples/prompting/Basic_Reasoning.ipynb
  examples/prompting/Chain_of_thought_prompting.ipynb
  examples/prompting/Few_shot_prompting.ipynb
  examples/prompting/Role_prompting.ipynb
  examples/prompting/Self_ask_prompting.ipynb
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Update Get_started_LearnLM.ipynb
  quickstarts/Get_started_LearnLM.ipynb
Labels: status:awaiting review, component:quickstarts

Revert "Update Get_started_LearnLM.ipynb"
  quickstarts/Get_started_LearnLM.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Get_started_LearnLM.ipynb
Labels: status:awaiting review, component:quickstarts

upgraded `weviate notebook` to use latest genai module (#659)
  examples/weaviate/personalized_description_with_weaviate_and_gemini_api.ipynb
Labels: status:awaiting review, component:examples

Updateing the new pro model alias in the quickstarts
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Audio.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Enum.ipynb
  quickstarts/File_API.ipynb
  quickstarts/Get_started.ipynb
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/Models.ipynb
  quickstarts/PDF_Files.ipynb
  quickstarts/Prompting.ipynb
  quickstarts/Safety.ipynb
  quickstarts/Search_Grounding.ipynb
  quickstarts/System_instructions.ipynb
  quickstarts/Template.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

Fixing template
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts

Updating lint workflow
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

Update Safety.ipynb
  quickstarts/Safety.ipynb
Labels: status:awaiting review, component:quickstarts

Updating models list
  examples/mlflow/MLflow_Observability.ipynb
Labels: status:awaiting review, component:examples

Adding badges to the notebooks (#751)
  examples/Virtual_Try_On.ipynb
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

fast rag using qdrant binary quantization and gemmini 2.5 flash
  examples/qdrant/multi_document_fast_rag_qdrant.ipynb
Labels: status:awaiting review, component:examples

examples
  examples/audio_code_analyst.ipynb
Labels: status:awaiting review, component:examples

Update audio_code_analyst.ipynb
  examples/audio_code_analyst.ipynb
Labels: status:awaiting review, component:examples

Update audio_code_analyst.ipynb
  examples/audio_code_analyst.ipynb
Labels: status:awaiting review, component:examples

Fixing model name selector
  examples/Virtual_Try_On.ipynb
Labels: status:awaiting review, component:examples
