Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*

Update : feedback implemented
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

Update : formatted book
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

Update : feedback implemented
  examples/prompting/Role_prompting.ipynb
Labels: status:awaiting review, component:examples

Update : Notebook formatted
  examples/prompting/Role_prompting.ipynb
Labels: status:awaiting review, component:examples

Updated Zero_shot_prompting.ipynb to google-genai SDK
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Classify_text_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

Update package to google-genai in examples/Classify_text_with_embeddings.ipynb
  examples/Classify_text_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

Update package to google-genai in examples/Classify_text_with_embeddings.ipynb
  examples/Classify_text_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

Updated quickstarts/Video.ipynb to use google-genai SDK (#592)
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

fixed typo
  examples/Classify_text_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

Update Get_started.ipynb
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

Update README.md
  README.md
Labels: status:awaiting review

Update README.md
  README.md
Labels: status:awaiting review

Update LICENSE
  LICENSE
Labels: status:awaiting review

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: status:awaiting review

Update README.md
  gemini-2/README.md
Labels: status:awaiting review

migrated and removed unused imports
  quickstarts/PDF_Files.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt and lint checked
  quickstarts/PDF_Files.ipynb
Labels: status:awaiting review, component:quickstarts

add notebook for MLflow Tracing
  examples/README.md
  examples/mlflow/MLflow_Observability.ipynb
Labels: status:awaiting review, component:examples

add instruction for tracking server
  examples/mlflow/MLflow_Observability.ipynb
Labels: status:awaiting review, component:examples

Removed \n\n
  quickstarts/PDF_Files.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/PDF_Files.ipynb
Labels: status:awaiting review, component:quickstarts

typo
  examples/mlflow/MLflow_Observability.ipynb
Labels: status:awaiting review, component:examples

add readme for mlflow
  examples/mlflow/README.md
Labels: status:awaiting review, component:examples

Migrating quickstarts pdf (#626)
  quickstarts/PDF_Files.ipynb
Labels: status:awaiting review, component:quickstarts

Updated examples/prompting/Role_prompting.ipynb to use google-genai SDK (#579)
  examples/prompting/Role_prompting.ipynb
Labels: status:awaiting review, component:examples

migrated
  quickstarts/File_API.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt and lint checked
  quickstarts/File_API.ipynb
Labels: status:awaiting review, component:quickstarts

added indentation
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

integrated all changes
  examples/Email_Concierge_Function_Calling_Bot.ipynb
Labels: status:awaiting review, component:examples

migrated
  quickstarts/Enum.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt and lint checked
  quickstarts/Enum.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Add files via upload
  examples/gemini_google_search.ipynb
Labels: status:awaiting review, component:examples

migrated `file_API` to latest sdk (#627)
  quickstarts/File_API.ipynb
Labels: status:awaiting review, component:quickstarts

Migrating enum quickstart (#628)
  quickstarts/Enum.ipynb
Labels: status:awaiting review, component:quickstarts

feat: add
  quickstarts/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  quickstarts/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

migrated
  quickstarts/Function_calling_config.ipynb
Labels: status:awaiting review, component:quickstarts
