Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*

Updating to new genai sdk
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

Updated Virtual Try-On notebook to use Gemini 2.5 for segmentation mask. (#661)
  examples/README.md
  examples/Virtual_Try_On.ipynb
Labels: status:awaiting review, component:examples

Fixing formatting
  examples/Virtual_Try_On.ipynb
Labels: status:awaiting review, component:examples

fixed reinvocation
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt and lint checked
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

Update Pro 2.0 to Pro 2.5
  examples/Entity_Extraction.ipynb
  examples/Market_a_Jet_Backpack.ipynb
  examples/Story_Writing_with_Prompt_Chaining.ipynb
  examples/Talk_to_documents_with_embeddings.ipynb
  examples/Virtual_Try_On.ipynb
  examples/Working_with_Charts_Graphs_and_Slide_Decks.ipynb
  examples/chromadb/Vectordb_with_chroma.ipynb
  examples/prompting/Basic_Code_Generation.ipynb
  examples/prompting/Basic_Information_Extraction.ipynb
  examples/prompting/Chain_of_thought_prompting.ipynb
  examples/prompting/Few_shot_prompting.ipynb
  examples/prompting/Role_prompting.ipynb
  examples/prompting/Self_ask_prompting.ipynb
  examples/prompting/Zero_shot_prompting.ipynb
  examples/qdrant/Qdrant_similarity_search.ipynb
  quickstarts/Get_started_thinking.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/Prompting.ipynb
  quickstarts/Search_Grounding.ipynb
  quickstarts/System_instructions.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

Update Pro 2.0 to Pro 2.5 (#677)
  examples/Entity_Extraction.ipynb
  examples/Market_a_Jet_Backpack.ipynb
  examples/Story_Writing_with_Prompt_Chaining.ipynb
  examples/Talk_to_documents_with_embeddings.ipynb
  examples/Virtual_Try_On.ipynb
  examples/Working_with_Charts_Graphs_and_Slide_Decks.ipynb
  examples/chromadb/Vectordb_with_chroma.ipynb
  examples/prompting/Basic_Code_Generation.ipynb
  examples/prompting/Basic_Information_Extraction.ipynb
  examples/prompting/Chain_of_thought_prompting.ipynb
  examples/prompting/Few_shot_prompting.ipynb
  examples/prompting/Role_prompting.ipynb
  examples/prompting/Self_ask_prompting.ipynb
  examples/prompting/Zero_shot_prompting.ipynb
  examples/qdrant/Qdrant_similarity_search.ipynb
  quickstarts/Get_started_thinking.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/Prompting.ipynb
  quickstarts/Search_Grounding.ipynb
  quickstarts/System_instructions.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

Virtual try-on fast-follow (url and format) (#676)
  examples/Virtual_Try_On.ipynb
Labels: status:awaiting review, component:examples

Updated `readme.md` for `quickstarts` (#675)
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Adding detailed guidelines to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: status:awaiting review

added reference to max_remote_call
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

Chat_with_SQL_using_langchain.ipynb update to google genai (#646)
  examples/langchain/Chat_with_SQL_using_langchain.ipynb
Labels: status:awaiting review, component:examples

update weaviate example to the new sdk
  examples/weaviate/personalized_description_with_weaviate_and_gemini_api.ipynb
Labels: status:awaiting review, component:examples

Add OpenAI SDK
  examples/OpenAI_SDK.ipynb
Labels: status:awaiting review, component:examples

Update Chat_with_SQL_using_langchain.ipynb
  examples/langchain/Chat_with_SQL_using_langchain.ipynb
Labels: status:awaiting review, component:examples

Add example Extract_Information_From_INVOICE
  examples/Extract_Information_From_INVOICE.ipynb
Labels: status:awaiting review, component:examples

change: update the README.md with the example link and lint the notebook
  README.md
Labels: status:awaiting review

Move websocket examples from gemini-2 to quickstarts
  quickstarts/websockets/README.md
  quickstarts/websockets/live_api_starter.ipynb
  quickstarts/websockets/live_api_starter.py
  quickstarts/websockets/live_api_streaming_in_colab.ipynb
  quickstarts/websockets/shell_websockets.sh
Labels: status:awaiting review, component:quickstarts

Langchain_With_Gemini_And_Build_RAG
  .gitignore
Labels: status:awaiting review

Moving live_api_starter notebook and python code
  gemini-2/websockets/live_api_starter.ipynb
  gemini-2/websockets/live_api_starter.py
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/websockets/Get_started_LiveAPI.ipynb
  quickstarts/websockets/Get_started_LiveAPI.py
Labels: status:awaiting review, component:quickstarts

Licence year fix
  gemini-2/websockets/live_api_starter.py
  quickstarts/websockets/Get_started_LiveAPI.py
Labels: status:awaiting review, component:quickstarts

Update notebooks.yaml
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

Moving the live_api_streaming_in_colab notebook in the quickstarts folder
  gemini-2/websockets/live_api_starter.ipynb
  gemini-2/websockets/live_api_streaming_in_colab.ipynb
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/websockets/LiveAPI_streaming_in_colab.ipynb
Labels: status:awaiting review, component:quickstarts

Moving live_api_tool_use notebook in the quickstarts folder
  quickstarts/Get_started_LiveAPI_tools.ipynb
Labels: status:awaiting review, component:quickstarts

Fixing url
  gemini-2/websockets/live_api_tool_use.ipynb
Labels: status:awaiting review

Fixing url
  quickstarts/websockets/LiveAPI_streaming_in_colab.ipynb
Labels: status:awaiting review, component:quickstarts

Fixing urls for real
  quickstarts/websockets/LiveAPI_streaming_in_colab.ipynb
Labels: status:awaiting review, component:quickstarts

Final url fix
  quickstarts/websockets/LiveAPI_streaming_in_colab.ipynb
Labels: status:awaiting review, component:quickstarts

Moving shell_websockets in the quickstarts folder
  gemini-2/websockets/shell_websockets.sh
  quickstarts/websockets/shell_websockets.sh
Labels: status:awaiting review, component:quickstarts

Fixing response_modalities in shell_websockets.sh
  quickstarts/websockets/shell_websockets.sh
Labels: status:awaiting review, component:quickstarts

Moving and updating READMEs
  gemini-2/README.md
  gemini-2/websockets/README.md
  quickstarts/websockets/README.md
Labels: status:awaiting review, component:quickstarts

Fixing links to the moved Gemini 2 content
  examples/Search_grounding_for_research_report.ipynb
  quickstarts/Code_Execution.ipynb
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/Get_started_LiveAPI_tools.ipynb
  quickstarts/Get_started_thinking.ipynb
  quickstarts/Video_understanding.ipynb
  quickstarts/websockets/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

Don't check Lint on Template.ipynb (#688)
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

Adding link to the Veo guide
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Moving websockets examples out of the gemini-2 folder. (#687)
  examples/Search_grounding_for_research_report.ipynb
  gemini-2/README.md
  gemini-2/websockets/README.md
  gemini-2/websockets/live_api_starter.ipynb
  gemini-2/websockets/live_api_starter.py
  gemini-2/websockets/live_api_streaming_in_colab.ipynb
  gemini-2/websockets/shell_websockets.sh
  quickstarts/Code_Execution.ipynb
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/Get_started_LiveAPI_tools.ipynb
  quickstarts/Get_started_thinking.ipynb
  quickstarts/Video_understanding.ipynb
  quickstarts/websockets/Get_started_LiveAPI.ipynb
  quickstarts/websockets/Get_started_LiveAPI.py
  quickstarts/websockets/LiveAPI_streaming_in_colab.ipynb
  quickstarts/websockets/README.md
  quickstarts/websockets/shell_websockets.sh
Labels: status:awaiting review, component:examples, component:quickstarts

Created using Colab
  examples/Opossum_search.ipynb
Labels: status:awaiting review, component:examples

feat: format
  examples/Opossum_search.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Guess_the_shape.ipynb
Labels: status:awaiting review, component:examples

feat: clean
  examples/Guess_the_shape.ipynb
Labels: status:awaiting review, component:examples
