Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

Updates the starter code to conform to updates in LiveAPI SDK
  quickstarts/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:quickstarts

change license
  examples/fastrtc_ui.py
Labels: status:awaiting review, component:examples

Fix
  examples/fastrtc_ui.py
Labels: status:awaiting review, component:examples

Fix
  examples/fastrtc_ui.py
Labels: status:awaiting review, component:examples

Add a python WebUI for the live audio api (#380)
  examples/fastrtc_ui.py
Labels: status:awaiting review, component:examples

updated quickstarts/Prompting.ipynb to use google-genai sdk
  quickstarts/Prompting.ipynb
Labels: status:awaiting review, component:quickstarts

tidyup
  quickstarts/Prompting.ipynb
Labels: status:awaiting review, component:quickstarts

updated year
  quickstarts/Prompting.ipynb
Labels: status:awaiting review, component:quickstarts

typo
  quickstarts/Image_out.ipynb
Labels: status:awaiting review, component:quickstarts

Moving the images to a bucket to save on notebook size (#562)
  quickstarts/Image_out.ipynb
Labels: status:awaiting review, component:quickstarts

Update Entity_Extraction notebook to genai
  examples/Entity_Extraction.ipynb
Labels: status:awaiting review, component:examples

final commit
  examples/Entity_Extraction.ipynb
Labels: status:awaiting review, component:examples

refracted imports
  examples/Entity_Extraction.ipynb
Labels: status:awaiting review, component:examples

add readme and code fixes
  examples/weaviate/README.md
  examples/weaviate/query-agent-as-a-tool.ipynb
Labels: status:awaiting review, component:examples

changed api key variable
  quickstarts/Prompting.ipynb
Labels: status:awaiting review, component:quickstarts

Fix connection config.
  quickstarts/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:quickstarts

Updating the Gemini_Flash_Introduction.ipynb to the new SDK
  quickstarts/Gemini_Flash_Introduction.ipynb
Labels: status:awaiting review, component:quickstarts

Updated Entity_Extraction.ipynb to genai
  examples/Entity_Extraction.ipynb
Labels: status:awaiting review, component:examples

enhanced error handling for callgemini function
  examples/Apps_script_and_Workspace_codelab/utils.gs
Labels: status:awaiting review, component:examples

updating Counting_Tokens.ipynb to use new SDK
  quickstarts/Counting_Tokens.ipynb
Labels: status:awaiting review, component:quickstarts

Remove "generation_config" from LiveConnectConfig dicts/instances
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/Get_started_LiveAPI_tools.ipynb
Labels: status:awaiting review, component:quickstarts

extra brace
  quickstarts/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:quickstarts

Remove "generation_config" from LiveConnectConfig dicts/instances (#573)
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/Get_started_LiveAPI_tools.ipynb
Labels: status:awaiting review, component:quickstarts

Add files via upload
  examples/poem Generation using Gemini function calling.ipynb
Labels: status:awaiting review, component:examples

Delete examples/poem Generation using Gemini function calling.ipynb
  examples/poem Generation using Gemini function calling.ipynb
Labels: status:awaiting review, component:examples

Gemini Function calling
  examples/poem Generation using Gemini function calling.ipynb
Labels: status:awaiting review, component:examples

docs: fix typo in 'output' and formatting in README.md
  README.md
Labels: status:awaiting review

updating everything to use google-genai SDK #446 and linked to colab
  quickstarts/Caching.ipynb
Labels: status:awaiting review, component:quickstarts

updating everything to use google-genai SDK (#446) and linked to colab
  quickstarts/Gemini_Flash_Introduction.ipynb
Labels: status:awaiting review, component:quickstarts

docs: fix typo in 'output' and formatting in README.md (#575)
  README.md
Labels: status:awaiting review

pyink/nbfmt
  examples/Agents_Function_Calling_Barista_Bot.ipynb
Labels: status:awaiting review, component:examples

Restore missing comments
  examples/Agents_Function_Calling_Barista_Bot.ipynb
Labels: status:awaiting review, component:examples

Remove retry decorator
  examples/Agents_Function_Calling_Barista_Bot.ipynb
Labels: status:awaiting review, component:examples

Remove superfluous colab button, bump copyright
  examples/Agents_Function_Calling_Barista_Bot.ipynb
Labels: status:awaiting review, component:examples

clear exec count
  examples/Agents_Function_Calling_Barista_Bot.ipynb
Labels: status:awaiting review, component:examples

Update Agents_Calling_Function_Barista_Bot.ipynb to new Python SDK (#526)
  examples/Agents_Function_Calling_Barista_Bot.ipynb
Labels: status:awaiting review, component:examples

Updated links (relative)
  quickstarts/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:quickstarts

Pin GitHub action versions to specific SHAs
  .github/workflows/new_examples_links_in_table_of_content.yml
Labels: status:awaiting review

Fix v45 commit tag
  .github/workflows/new_examples_links_in_table_of_content.yml
Labels: status:awaiting review

Pinned versions in other workflows
  .github/workflows/issue-metrics.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
Labels: status:awaiting review

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*
