Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

Implementing necessary changes
  examples/prompting/Basic_Reasoning.ipynb
Labels: status:awaiting review, component:examples

Fixing the excludes lints
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

updated for the requested changes
  quickstarts/Authentication.ipynb
Labels: status:awaiting review, component:quickstarts

Using the new Gemini cookbook style that accepts "open in colab" buttons
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

Using the new Gemini cookbook style that accepts "open in colab" buttons (#601)
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

nbfmt and lint
  examples/prompting/Basic_Reasoning.ipynb
Labels: status:awaiting review, component:examples

enhanced readability
  examples/prompting/Basic_Reasoning.ipynb
Labels: status:awaiting review, component:examples

updated the notebook to use new sdk
  quickstarts/Caching.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt and lint checked
  examples/prompting/Adding_context_information.ipynb
Labels: status:awaiting review, component:examples

implementing latest changes
  examples/prompting/Basic_Code_Generation.ipynb
Labels: status:awaiting review, component:examples

Update notebook to use new sdk
  quickstarts/Caching.ipynb
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts

changed as suggested
  examples/prompting/Basic_Code_Generation.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/prompting/Basic_Code_Generation.ipynb
Labels: status:awaiting review, component:examples

year change
  examples/prompting/Basic_Code_Generation.ipynb
Labels: status:awaiting review, component:examples

changed we=>you
  examples/prompting/Basic_Code_Generation.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/prompting/Basic_Code_Generation.ipynb
Labels: status:awaiting review, component:examples

Add GeminiVideoReader.ipynb
  examples/GeminiVideoReader.ipynb
Labels: status:awaiting review, component:examples

Update README.md
  examples/README.md
Labels: status:awaiting review, component:examples

year update
  examples/Entity_Extraction.ipynb
Labels: status:awaiting review, component:examples

Made the required changes
  quickstarts/Prompting.ipynb
  quickstarts/image.jpg
Labels: status:awaiting review, component:quickstarts

deleted the image
  quickstarts/image.jpg
Labels: status:awaiting review, component:quickstarts

talk to docs
  examples/Talk_to_documents_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/Entity_Extraction.ipynb
  examples/Talk_to_documents_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

implemented latest changes
  examples/Market_a_Jet_Backpack.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/Market_a_Jet_Backpack.ipynb
  examples/README.md
Labels: status:awaiting review, component:examples

nbfmt
  examples/Market_a_Jet_Backpack.ipynb
Labels: status:awaiting review, component:examples

lint checks passed
  examples/Market_a_Jet_Backpack.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/prompting/Basic_Reasoning.ipynb
Labels: status:awaiting review, component:examples

update the notebook to use new sdk
  quickstarts/JSON_mode.ipynb
Labels: status:awaiting review, component:quickstarts

Ran all cells
  examples/prompting/Self_ask_prompting.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/prompting/Self_ask_prompting.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/prompting/Self_ask_prompting.ipynb
Labels: status:awaiting review, component:examples

lint checked
  examples/prompting/Self_ask_prompting.ipynb
Labels: status:awaiting review, component:examples

Delete quickstarts/Counting_Tokens.ipynb
  quickstarts/Counting_Tokens.ipynb
Labels: status:awaiting review, component:quickstarts

removed unnecessary function
  examples/prompting/Chain_of_thought_prompting.ipynb
Labels: status:awaiting review, component:examples

nbfmt and lint checked
  examples/prompting/Chain_of_thought_prompting.ipynb
Labels: status:awaiting review, component:examples

made appropriate readability changes
  examples/prompting/Basic_Information_Extraction.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/prompting/Basic_Information_Extraction.ipynb
Labels: status:awaiting review, component:examples

Fixed URL
  quickstarts/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:quickstarts

Update Get_started_LiveAPI.ipynb (#540)
  quickstarts/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:quickstarts

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*
