Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*

Created using Colab
  examples/prompting/Basic_Code_Review.ipynb
Labels: status:awaiting review, component:examples

no code changes
  examples/prompting/Basic_Code_Review.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/prompting/Basic_Code_Review.ipynb
Labels: status:awaiting review, component:examples

Update README.md
  examples/README.md
Labels: status:awaiting review, component:examples

fixes
  examples/Tag_and_caption_images.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/Tag_and_caption_images.ipynb
Labels: status:awaiting review, component:examples

Update gradio_audio.py
  examples/gradio_audio.py
Labels: status:awaiting review, component:examples

Update gradio_audio.py
  examples/gradio_audio.py
Labels: status:awaiting review, component:examples

Updated template notebook with newer guidance
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts

Update Chat_with_SQL_using_langchain.ipynb (#683)
  examples/langchain/Chat_with_SQL_using_langchain.ipynb
Labels: status:awaiting review, component:examples

Adding REST Veo notebook
  README.md
Labels: status:awaiting review

lint
  examples/mlflow/MLflow_Observability.ipynb
Labels: status:awaiting review, component:examples

Don't check Lint on Template.ipynb (#688)
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

Chat_with_SQL_using_langchain.ipynb update to google genai (#646)
  examples/langchain/Chat_with_SQL_using_langchain.ipynb
Labels: status:awaiting review, component:examples

Updated `readme.md` for `quickstarts` (#675)
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Moving websockets examples out of the gemini-2 folder. (#687)
  examples/Search_grounding_for_research_report.ipynb
  gemini-2/README.md
  gemini-2/websockets/README.md
  gemini-2/websockets/live_api_starter.ipynb
  gemini-2/websockets/live_api_starter.py
  gemini-2/websockets/live_api_streaming_in_colab.ipynb
  gemini-2/websockets/shell_websockets.sh
  quickstarts/Code_Execution.ipynb
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/Get_started_LiveAPI_tools.ipynb
  quickstarts/Get_started_thinking.ipynb
  quickstarts/Video_understanding.ipynb
  quickstarts/websockets/Get_started_LiveAPI.ipynb
  quickstarts/websockets/Get_started_LiveAPI.py
  quickstarts/websockets/LiveAPI_streaming_in_colab.ipynb
  quickstarts/websockets/README.md
  quickstarts/websockets/shell_websockets.sh
Labels: status:awaiting review, component:examples, component:quickstarts

Update Chat_with_SQL_using_langchain.ipynb (#683)
  examples/langchain/Chat_with_SQL_using_langchain.ipynb
Labels: status:awaiting review, component:examples

Add Veo notebooks (#692)
  README.md
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

updating Live API assets
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/Get_started_LiveAPI.py
  quickstarts/Get_started_LiveAPI_tools.ipynb
  quickstarts/websockets/Get_started_LiveAPI.py
  quickstarts/websockets/LiveAPI_streaming_in_colab.ipynb
  quickstarts/websockets/shell_websockets.sh
Labels: status:awaiting review, component:quickstarts

updating Live API assets (#693)
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/Get_started_LiveAPI.py
  quickstarts/Get_started_LiveAPI_tools.ipynb
  quickstarts/websockets/Get_started_LiveAPI.py
  quickstarts/websockets/LiveAPI_streaming_in_colab.ipynb
  quickstarts/websockets/shell_websockets.sh
Labels: status:awaiting review, component:quickstarts

Adding veo to the list of capabilities
  README.md
Labels: status:awaiting review

Reducing the Veo notebook size (#695)
  README.md
Labels: status:awaiting review

Update new query and re-ranking based on user's preference
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

Fixed notebook display error
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

Implemented new comments and new query
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

made suggested changes
  examples/Multimodal_RAG_for_youtube_videos.ipynb
Labels: status:awaiting review, component:examples

update live api cookbook
  quickstarts/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:quickstarts

update live api cookbook (#697)
  quickstarts/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:quickstarts

Output formatting
  examples/weaviate/personalized_description_with_weaviate_and_gemini_api.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/weaviate/personalized_description_with_weaviate_and_gemini_api.ipynb
Labels: status:awaiting review, component:examples

Add files via upload
  examples/qdrant/Movie_Recommendation.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/qdrant/Movie_Recommendation.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/qdrant/Movie_Recommendation.ipynb
Labels: status:awaiting review, component:examples

lint checked
  examples/qdrant/Movie_Recommendation.ipynb
Labels: status:awaiting review, component:examples

Update Function_calling.ipynb quickstart
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

feat(example): Add basic error handling to Barista Bot chat loop
  examples/Agents_Function_Calling_Barista_Bot.ipynb
Labels: status:awaiting review, component:examples

Add prompting startegy example
  examples/prompting/Add_prefixes.ipynb
Labels: status:awaiting review, component:examples

Add files via upload
  examples/Gemini_MultimodalBot_Text_Image_Tutorial.ipynb
Labels: status:awaiting review, component:examples

Create README.md
  examples/google-adk/README.md
Labels: status:awaiting review, component:examples
