Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

Improved the notebooks with better instructions
  quickstarts/Gemini_Chatbot_Tutorial.ipynb
  quickstarts/Gemini_Code_Execution_Tutorial.ipynb
  quickstarts/Gemini_Text_Summarizer_Tutorial.ipynb
Labels: status:awaiting review, component:quickstarts

Migrated `Adding_context_information` to use latest genai module (#513)
  examples/prompting/Adding_context_information.ipynb
Labels: status:awaiting review, component:examples

Adding links to the get started notebook
  quickstarts/Authentication.ipynb
Labels: status:awaiting review, component:quickstarts

updated `Authentication.ipynb` to use google-genai SDK (#533)
  quickstarts/Authentication.ipynb
Labels: status:awaiting review, component:quickstarts

Updated `Basic_Reasoning` to latest genai module (#518)
  examples/prompting/Basic_Reasoning.ipynb
Labels: status:awaiting review, component:examples

changed image
  examples/Market_a_Jet_Backpack.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/Market_a_Jet_Backpack.ipynb
Labels: status:awaiting review, component:examples

image included
  examples/prompting/Self_ask_prompting.ipynb
Labels: status:awaiting review, component:examples

Update Basic_Information_Extraction.ipynb
  examples/prompting/Basic_Information_Extraction.ipynb
Labels: status:awaiting review, component:examples

made the requested changes
  quickstarts/Prompting.ipynb
Labels: status:awaiting review, component:quickstarts

included image
  examples/prompting/Chain_of_thought_prompting.ipynb
Labels: status:awaiting review, component:examples

image integration
  examples/Market_a_Jet_Backpack.ipynb
Labels: status:awaiting review, component:examples

update : minor changes according to feedback
  quickstarts/System_instructions.ipynb
Labels: status:awaiting review, component:quickstarts

update : notebook formatted
  quickstarts/System_instructions.ipynb
Labels: status:awaiting review, component:quickstarts

feat: Update Search_Wikipedia_using_ReAct.ipynb notebook to use google-genai SDK
  examples/Search_Wikipedia_using_ReAct.ipynb
Labels: status:awaiting review, component:examples

Update Basic_Code_Generation.ipynb
  examples/prompting/Basic_Code_Generation.ipynb
Labels: status:awaiting review, component:examples

Replacing all occurences of "gemini-2.0-pro-exp-02-05" with the new "gemini-2.5-pro-exp-03-25"
  examples/Agents_Function_Calling_Barista_Bot.ipynb
  examples/Analyze_a_Video_Classification.ipynb
  examples/Analyze_a_Video_Historic_Event_Recognition.ipynb
  examples/Analyze_a_Video_Summarization.ipynb
  examples/Apollo_11.ipynb
  examples/Opossum_search.ipynb
  examples/Pdf_structured_outputs_on_invoices_and_forms.ipynb
  examples/Search_grounding_for_research_report.ipynb
  examples/Upload_files_to_Colab.ipynb
  examples/Virtual_Try_On.ipynb
  examples/json_capabilities/Entity_Extraction_JSON.ipynb
  examples/json_capabilities/Sentiment_Analysis.ipynb
  examples/json_capabilities/Text_Classification.ipynb
  examples/json_capabilities/Text_Summarization.ipynb
  examples/prompting/Adding_context_information.ipynb
  examples/prompting/Basic_Reasoning.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Code_Execution.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Function_calling.ipynb
  quickstarts/Function_calling_config.ipynb
  quickstarts/Get_started.ipynb
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
  quickstarts/Get_started_thinking.ipynb
  quickstarts/Models.ipynb
  quickstarts/Spatial_understanding.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

implemented suggestions
  examples/Entity_Extraction.ipynb
Labels: status:awaiting review, component:examples

update thinking
  quickstarts/Get_started_thinking.ipynb
Labels: status:awaiting review, component:quickstarts

Update Entity_Extraction.ipynb
  examples/Entity_Extraction.ipynb
Labels: status:awaiting review, component:examples

Implemented suggested changes
  examples/Talk_to_documents_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

nbfmt and lint checked
  examples/Entity_Extraction.ipynb
  examples/Talk_to_documents_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

Adding a YT example
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

Gemini Chatbot Tutorial – Interactive Chat with Streaming & History
  quickstarts/Gemini_Chatbot_Tutorial.ipynb
Labels: status:awaiting review, component:quickstarts

Adding a YT example (#607)
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

Update thinking (#605)
  quickstarts/Get_started_thinking.ipynb
Labels: status:awaiting review, component:quickstarts

get latest version
  quickstarts/Get_started_thinking.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

Replacing all occurrences of "gemini-2.0-pro-exp-02-05" with the new "gemini-2.5-pro-exp-03-25" (#606)
  examples/Agents_Function_Calling_Barista_Bot.ipynb
  examples/Analyze_a_Video_Classification.ipynb
  examples/Analyze_a_Video_Historic_Event_Recognition.ipynb
  examples/Analyze_a_Video_Summarization.ipynb
  examples/Apollo_11.ipynb
  examples/Opossum_search.ipynb
  examples/Pdf_structured_outputs_on_invoices_and_forms.ipynb
  examples/Search_grounding_for_research_report.ipynb
  examples/Upload_files_to_Colab.ipynb
  examples/Virtual_Try_On.ipynb
  examples/json_capabilities/Entity_Extraction_JSON.ipynb
  examples/json_capabilities/Sentiment_Analysis.ipynb
  examples/json_capabilities/Text_Classification.ipynb
  examples/json_capabilities/Text_Summarization.ipynb
  examples/prompting/Adding_context_information.ipynb
  examples/prompting/Basic_Reasoning.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Code_Execution.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Function_calling.ipynb
  quickstarts/Function_calling_config.ipynb
  quickstarts/Get_started.ipynb
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
  quickstarts/Models.ipynb
  quickstarts/Spatial_understanding.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

implemented latest sdk
  examples/chromadb/Vectordb_with_chroma.ipynb
Labels: status:awaiting review, component:examples

minor readability
  examples/chromadb/Vectordb_with_chroma.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/chromadb/Vectordb_with_chroma.ipynb
Labels: status:awaiting review, component:examples

lint checked
  examples/chromadb/Vectordb_with_chroma.ipynb
Labels: status:awaiting review, component:examples

migrated qdrant notebook
  examples/qdrant/Qdrant_similarity_search.ipynb
Labels: status:awaiting review, component:examples

updated sdks
  examples/Working_with_Charts_Graphs_and_Slide_Decks.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/Working_with_Charts_Graphs_and_Slide_Decks.ipynb
Labels: status:awaiting review, component:examples

Update copyright
  quickstarts/Caching.ipynb
Labels: status:awaiting review, component:quickstarts

Update notebook to use new sdk (#446)
  quickstarts/Caching.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Gemini_Flash_Introduction.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts

Updated year
  examples/Apollo_11.ipynb
Labels: status:awaiting review, component:examples

Fix: Addressed the reviewers feedback on the notebook
  examples/Search_Wikipedia_using_ReAct.ipynb
Labels: status:awaiting review, component:examples

pushed notebook
  examples/Email_Concierge_Function_Calling_Bot.ipynb
Labels: status:awaiting review, component:examples

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*
