Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*

Pin GitHub action versions to specific SHAs (#577)
  .github/workflows/issue-metrics.yml
  .github/workflows/labeler.yml
  .github/workflows/new_examples_links_in_table_of_content.yml
  .github/workflows/stale.yml
Labels: status:awaiting review

corrected minor spelling mistakes and code tidy-up
  examples/json_capabilities/Sentiment_Analysis.ipynb
Labels: status:awaiting review, component:examples

Upgraded the Google GenAI SDK from "google-generativeai" to "google-genai"
  examples/prompting/Role_prompting.ipynb
Labels: status:awaiting review, component:examples

add copyright and licence
  examples/weaviate/query-agent-as-a-tool.ipynb
Labels: status:awaiting review, component:examples

update year
  examples/weaviate/query-agent-as-a-tool.ipynb
Labels: status:awaiting review, component:examples

apply formatting
  examples/weaviate/query-agent-as-a-tool.ipynb
Labels: status:awaiting review, component:examples

add colab button
  examples/weaviate/query-agent-as-a-tool.ipynb
Labels: status:awaiting review, component:examples

Add Weaviate Query Agent as a Tool (#546)
  examples/weaviate/README.md
  examples/weaviate/query-agent-as-a-tool.ipynb
Labels: status:awaiting review, component:examples

Update System_instructions.ipynb to new Python SDK
  quickstarts/System_instructions.ipynb
Labels: status:awaiting review, component:quickstarts

update notebook to use google-genai SDK (#446)
  quickstarts/JSON_mode.ipynb
Labels: status:awaiting review, component:quickstarts

Update README.md typo
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Update README.md typo (#582)
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Add an example showing how to serialise history
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

typo
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

Add an example showing how to serialise history (#583)
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

Updated Async requests/coroutines quickstart examples
  quickstarts/Asynchronous_requests.ipynb
Labels: status:awaiting review, component:quickstarts

migrated authentication to use latest Gemini sdk
  quickstarts/Authentication.ipynb
Labels: status:awaiting review, component:quickstarts

updated streaming quickstart example
  quickstarts/Streaming.ipynb
Labels: status:awaiting review, component:quickstarts

Update Streaming.ipynb
  quickstarts/Streaming.ipynb
Labels: status:awaiting review, component:quickstarts

Update Asynchronous_requests.ipynb
  quickstarts/Asynchronous_requests.ipynb
Labels: status:awaiting review, component:quickstarts

Update Authentication.ipynb
  quickstarts/Authentication.ipynb
Labels: status:awaiting review, component:quickstarts

Update Asynchronous_requests.ipynb
  quickstarts/Asynchronous_requests.ipynb
Labels: status:awaiting review, component:quickstarts

updated ! to %
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Streaming.ipynb
Labels: status:awaiting review, component:quickstarts

migrated streaming and async methods
  quickstarts/Streaming.ipynb
Labels: status:awaiting review, component:quickstarts

Update `Sentiment_Analysis` notebook to use genai module (#506)
  examples/json_capabilities/Sentiment_Analysis.ipynb
Labels: status:awaiting review, component:examples

Revert "Using the new gemini-cookbook style instead of the tensorflow one (#522)" (#532)
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

Updating the function calling notebook to the uSDK (#531)
  quickstarts/Function_calling.ipynb
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

Using the new gemini-cookbook style instead of the tensorflow one (#522)
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

Update Get_started_LiveAPI.py (#527)
  quickstarts/Get_started_LiveAPI.py
Labels: status:awaiting review, component:quickstarts

updated Embeddings.ipynb to use latest python sdk (#521)
  quickstarts/Embeddings.ipynb
Labels: status:awaiting review, component:quickstarts

Image-out (#556)
  README.md
  quickstarts/Image_out.ipynb
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

adding gemini-embedding model support (#534)
  quickstarts/Get_started.ipynb
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
Labels: status:awaiting review, component:quickstarts

Update Image_out.ipynb (#558)
  quickstarts/Image_out.ipynb
Labels: status:awaiting review, component:quickstarts

added esp32 sample (#554)
  examples/iot/esp32/voice_led_controller/README.md
  examples/iot/esp32/voice_led_controller/led_controller.ino
  examples/iot/esp32/voice_led_controller/wiring-diagram.png
Labels: status:awaiting review, component:examples

Added notebook example for virtual try-on using Gemini 2.0 and Imagen 3 (#525)
  examples/README.md
  examples/Virtual_Try_On.ipynb
Labels: status:awaiting review, component:examples

Remove "generation_config" from LiveConnectConfig dicts/instances (#573)
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/Get_started_LiveAPI_tools.ipynb
Labels: status:awaiting review, component:quickstarts

Update Agents_Calling_Function_Barista_Bot.ipynb to new Python SDK (#526)
  examples/Agents_Function_Calling_Barista_Bot.ipynb
Labels: status:awaiting review, component:examples

Add a YouTube link example to Get_started notebook (#560)
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

Image-out fast follows (#559)
  README.md
  quickstarts/Get_started.ipynb
  quickstarts/Image_out.ipynb
Labels: status:awaiting review, component:quickstarts

Add an example showing how to serialise history (#583)
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts
