Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

nbfmt, lint checked
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  examples/Extract_Information_From_INVOICE.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  Podcast_and_Audio_Transcription.ipynb
Labels: status:awaiting review

Created using Colab
  Podcast_and_Audio_Transcription.ipynb
Labels: status:awaiting review

Delete Podcast_and_Audio_Transcription.ipynb
  Podcast_and_Audio_Transcription.ipynb
Labels: status:awaiting review

Add files via upload
  examples/Podcast_and_Audio_Transcription.ipynb
Labels: status:awaiting review, component:examples

Update README.md
  examples/README.md
Labels: status:awaiting review, component:examples

Add `Add_prefixes.ipynb` into examples/prompting
  examples/prompting/Add_prefixes.ipynb
Labels: status:awaiting review, component:examples

created file
  quickstarts/Get_started_thinking_REST.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  quickstarts/Get_started_thinking_REST.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Get_started_thinking_REST.ipynb
Labels: status:awaiting review, component:quickstarts

fixed division issue
  quickstarts/Get_started_thinking_REST.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Get_started_thinking_REST.ipynb
Labels: status:awaiting review, component:quickstarts

format
  examples/mlflow/MLflow_Observability.ipynb
Labels: status:awaiting review, component:examples

migrated
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

nbfmt and lint checked
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

Flash 2.5
  examples/Tag_and_caption_images.ipynb
Labels: status:awaiting review, component:examples

Updated Tag_and_caption_images.ipynb to use google-genai (#653)
  examples/Tag_and_caption_images.ipynb
Labels: status:awaiting review, component:examples

Flash 2.5
  examples/Guess_the_shape.ipynb
Labels: status:awaiting review, component:examples

Formatting Guess_the_shape.ipynb.ipynb Notebook (#654)
  examples/Guess_the_shape.ipynb
Labels: status:awaiting review, component:examples

Ignoring video notebook
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

Flash 2.5
  examples/Opossum_search.ipynb
Labels: status:awaiting review, component:examples

fomatting OpossumSearch and update version (#656)
  examples/Opossum_search.ipynb
Labels: status:awaiting review, component:examples

migrated
  examples/weaviate/personalized_description_with_weaviate_and_gemini_api.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/weaviate/personalized_description_with_weaviate_and_gemini_api.ipynb
Labels: status:awaiting review, component:examples

Fix typo in Get_started.ipynb
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

Update README.md
  examples/google-adk/README.md
Labels: status:awaiting review, component:examples

Update README.md
  examples/google-adk/README.md
Labels: status:awaiting review, component:examples

Implemented suggestions
  examples/google-adk/Getting_started_with_ADK.ipynb
Labels: status:awaiting review, component:examples

adding link
  examples/google-adk/Getting_started_with_ADK.ipynb
Labels: status:awaiting review, component:examples

Update Zero_shot_prompting.ipynb
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Add new Zero Shot Prompting (#636)
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Fix typo in Get_started.ipynb (#731)
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

Adding more details
  CONTRIBUTING.md
Labels: status:awaiting review

Patrick's suggestion
  CONTRIBUTING.md
Labels: status:awaiting review

Adding detailed guidelines to CONTRIBUTING.md (#678)
  CONTRIBUTING.md
Labels: status:awaiting review

Attempt to fix typos
  examples/LiveAPI_plotting_and_mapping.ipynb
  gemini-2/websockets/live_api_streaming_in_colab.ipynb
  quickstarts/Get_started_LiveAPI.ipynb
  quickstarts/Get_started_LiveAPI_tools.ipynb
  quickstarts/websockets/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

remove false positive edit
  gemini-2/websockets/live_api_streaming_in_colab.ipynb
Labels: status:awaiting review

adding chatbot sample
  examples/gemini_chatbot/.env.example
  examples/gemini_chatbot/README.md
  examples/gemini_chatbot/chatbot_demo.ipynb
  examples/gemini_chatbot/main_app.py
  examples/gemini_chatbot/requirements.txt
Labels: status:awaiting review, component:examples

add chat bot to streamlit demo
  examples/gemini_chatbot/README.md
Labels: status:awaiting review, component:examples

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*
