Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

Add files via upload
  examples/google-adk/Getting_started_with_ADK.ipynb
Labels: status:awaiting review, component:examples

Update README.md
  examples/google-adk/README.md
Labels: status:awaiting review, component:examples

Update README.md
  examples/google-adk/README.md
Labels: status:awaiting review, component:examples

Update Next Steps section
  examples/prompting/Add_prefixes.ipynb
Labels: status:awaiting review, component:examples

Rebase old commit
  examples/prompting/Add_prefixes.ipynb
Labels: status:awaiting review, component:examples

Modify Add_prefixes.ipynb in examples/prompting
  examples/prompting/Add_prefixes.ipynb
Labels: status:awaiting review, component:examples

Delete invalid JSON file
  examples/prompting/Add_prefixes.ipynb
Labels: status:awaiting review, component:examples

Upload Add_prefixes.ipynb in examples/prompting
  examples/prompting/Add_prefixes.ipynb
Labels: status:awaiting review, component:examples

Feat: Corrected quickstarts README.md
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Feat: Corrected quickstarts Authentication.ipynb
  quickstarts/Authentication.ipynb
Labels: status:awaiting review, component:quickstarts

add Flash 2.0 to caching notebook
  quickstarts/Caching.ipynb
Labels: status:awaiting review, component:quickstarts

updated caching metadata numbers
  quickstarts/Caching.ipynb
Labels: status:awaiting review, component:quickstarts

fix formatting error
  quickstarts/Caching.ipynb
Labels: status:awaiting review, component:quickstarts

flash 2.0 as cache default in get started
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

add Flash 2.0 to caching notebook (#716)
  quickstarts/Caching.ipynb
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

Adding details on the counted tokens
  quickstarts/Caching.ipynb
Labels: status:awaiting review, component:quickstarts

Suggestions implemented
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

Adding details on the counted tokens (#717)
  quickstarts/Caching.ipynb
Labels: status:awaiting review, component:quickstarts

Create devcontainer.json
  .devcontainer/devcontainer.json
Labels: status:awaiting review

Fix typo in `get_started.ipynb`.
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

updating cookbooks for the Gemini 2.5 Flash launch
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Audio.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Caching.ipynb
  quickstarts/Code_Execution.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Enum.ipynb
  quickstarts/File_API.ipynb
  quickstarts/Function_calling.ipynb
  quickstarts/Gemini_Flash_Introduction.ipynb
  quickstarts/Get_started.ipynb
  quickstarts/Get_started_thinking.ipynb
Labels: status:awaiting review, component:quickstarts

fixing Cache, Code_Execution and Get_started notebooks
  quickstarts/Caching.ipynb
  quickstarts/Code_Execution.ipynb
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

updating cookbooks for the Gemini 2.5 Flash launch (#720)
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Audio.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Caching.ipynb
  quickstarts/Code_Execution.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Enum.ipynb
  quickstarts/File_API.ipynb
  quickstarts/Function_calling.ipynb
  quickstarts/Gemini_Flash_Introduction.ipynb
  quickstarts/Get_started.ipynb
  quickstarts/Get_started_thinking.ipynb
Labels: status:awaiting review, component:quickstarts

updating notebooks to use Gemini 2.5 Flash as default model
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/Models.ipynb
  quickstarts/New_in_002.ipynb
  quickstarts/PDF_Files.ipynb
  quickstarts/Prompting.ipynb
  quickstarts/Streaming.ipynb
  quickstarts/System_instructions.ipynb
  quickstarts/Template.ipynb
  quickstarts/Tuning.ipynb
  quickstarts/Video.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

fixing lint and formatting
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/Models.ipynb
  quickstarts/PDF_Files.ipynb
  quickstarts/Streaming.ipynb
  quickstarts/System_instructions.ipynb
  quickstarts/Template.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

part 2
  quickstarts/Get_started.ipynb
  quickstarts/Image_out.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/PDF_Files.ipynb
Labels: status:awaiting review, component:quickstarts

part 3 * running generated code in search_grounding automatically instead of copy-pasting * replacing the video notebook by a redirection to the video understanding one
  README.md
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Audio.ipynb
  quickstarts/Code_Execution.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Enum.ipynb
  quickstarts/Get_started.ipynb
  quickstarts/Get_started_thinking.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/PDF_Files.ipynb
  quickstarts/Prompting.ipynb
  quickstarts/Search_Grounding.ipynb
  quickstarts/Streaming.ipynb
  quickstarts/System_instructions.ipynb
  quickstarts/Template.ipynb
  quickstarts/Video.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

Adding a disclaimer
  README.md
Labels: status:awaiting review

Lint and formatting
  quickstarts/Streaming.ipynb
  quickstarts/System_instructions.ipynb
  quickstarts/Video.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

Adding falsh 2.5 to the model selector in the example folder
  examples/Agents_Function_Calling_Barista_Bot.ipynb
  examples/Analyze_a_Video_Classification.ipynb
  examples/Analyze_a_Video_Historic_Event_Recognition.ipynb
  examples/Analyze_a_Video_Summarization.ipynb
  examples/Apollo_11.ipynb
  examples/Entity_Extraction.ipynb
  examples/Market_a_Jet_Backpack.ipynb
  examples/Opossum_search.ipynb
  examples/Pdf_structured_outputs_on_invoices_and_forms.ipynb
  examples/Search_grounding_for_research_report.ipynb
  examples/Story_Writing_with_Prompt_Chaining.ipynb
  examples/Talk_to_documents_with_embeddings.ipynb
  examples/Translate_a_Public_Domain_Book.ipynb
  examples/Upload_files_to_Colab.ipynb
  examples/Virtual_Try_On.ipynb
  examples/Working_with_Charts_Graphs_and_Slide_Decks.ipynb
  examples/chromadb/Vectordb_with_chroma.ipynb
  examples/json_capabilities/Entity_Extraction_JSON.ipynb
  examples/json_capabilities/Sentiment_Analysis.ipynb
  examples/json_capabilities/Text_Classification.ipynb
  examples/json_capabilities/Text_Summarization.ipynb
  examples/prompting/Adding_context_information.ipynb
  examples/prompting/Basic_Code_Generation.ipynb
  examples/prompting/Basic_Information_Extraction.ipynb
  examples/prompting/Basic_Reasoning.ipynb
  examples/prompting/Chain_of_thought_prompting.ipynb
  examples/prompting/Few_shot_prompting.ipynb
  examples/prompting/Role_prompting.ipynb
  examples/prompting/Self_ask_prompting.ipynb
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Removing the licence on redirections to make them easier to read on Github
  examples/Apollo_11.ipynb
  examples/Browser_as_a_tool.ipynb
  examples/LiveAPI_plotting_and_mapping.ipynb
  examples/Object_detection.ipynb
  examples/Search_grounding_for_research_report.ipynb
  examples/Virtual_Try_On.ipynb
  examples/Voice_memos.ipynb
  examples/json_capabilities/Text_Classification.ipynb
  examples/weaviate/personalized_description_with_weaviate_and_gemini_api.ipynb
  examples/weaviate/query-agent-as-a-tool.ipynb
  gemini-2/get_started.ipynb
  gemini-2/live_api_starter.ipynb
  gemini-2/live_api_tool_use.ipynb
  gemini-2/plotting_and_mapping.ipynb
  gemini-2/search_tool.ipynb
  gemini-2/search_tool_for_research_report.ipynb
  gemini-2/spatial_understanding.ipynb
  gemini-2/spatial_understanding_3d.ipynb
  gemini-2/thinking.ipynb
  gemini-2/video_understanding.ipynb
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

Simplifying the thinking notebook * Updated examples * Removing the structured output example * Simplified reponse parsing code
  quickstarts/Get_started_thinking.ipynb
Labels: status:awaiting review, component:quickstarts

Removing licence from object detection redirection
  examples/Object_detection.ipynb
Labels: status:awaiting review, component:examples

Explains why 1.10 minimum
  quickstarts/Get_started_thinking.ipynb
Labels: status:awaiting review, component:quickstarts

Correcting the upper limit to 24576
  quickstarts/Get_started_thinking.ipynb
Labels: status:awaiting review, component:quickstarts

Simplifying the thinking notebook (#727)
  quickstarts/Get_started_thinking.ipynb
Labels: status:awaiting review, component:quickstarts

Fixing licences (#726)
  examples/Apollo_11.ipynb
  examples/Browser_as_a_tool.ipynb
  examples/LiveAPI_plotting_and_mapping.ipynb
  examples/Object_detection.ipynb
  examples/Search_grounding_for_research_report.ipynb
  examples/Virtual_Try_On.ipynb
  examples/Voice_memos.ipynb
  examples/json_capabilities/Text_Classification.ipynb
  examples/weaviate/personalized_description_with_weaviate_and_gemini_api.ipynb
  examples/weaviate/query-agent-as-a-tool.ipynb
  gemini-2/get_started.ipynb
  gemini-2/live_api_starter.ipynb
  gemini-2/live_api_tool_use.ipynb
  gemini-2/plotting_and_mapping.ipynb
  gemini-2/search_tool.ipynb
  gemini-2/search_tool_for_research_report.ipynb
  gemini-2/spatial_understanding.ipynb
  gemini-2/spatial_understanding_3d.ipynb
  gemini-2/thinking.ipynb
  gemini-2/video_understanding.ipynb
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

Merged latest changes
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

merging config
  quickstarts/Function_calling_config.ipynb
Labels: status:awaiting review, component:quickstarts

Feat: Corrected quickstarts files (#713)
  quickstarts/Authentication.ipynb
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*
