Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*

Added example Podcast_and_Audio_Transcription
  Podcast_and_Audio_Transcription.ipynb
Labels: status:awaiting review

Add new Example (Social Media Caption Generator)
  examples/Social_Media_Caption.ipynb
Labels: status:awaiting review, component:examples

No code changes made.
  examples/Social_Media_Caption.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Plant_Health_Analyzer.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Plant_Health_Analyzer.ipynb
Labels: status:awaiting review, component:examples

No code changes made.
  examples/Plant_Health_Analyzer.ipynb
Labels: status:awaiting review, component:examples

fixed widgets issue
  examples/Multimodal_RAG_for_youtube_videos.ipynb
Labels: status:awaiting review, component:examples

made some changes
  examples/Multimodal_RAG_for_youtube_videos.ipynb
Labels: status:awaiting review, component:examples

Update README.md
  examples/README.md
Labels: status:awaiting review, component:examples

fixed issues
  examples/Multimodal_RAG_for_youtube_videos.ipynb
Labels: status:awaiting review, component:examples

Formatted notebook.
  examples/Virtual_Try_On.ipynb
Labels: status:awaiting review, component:examples

Add youtube Example (#633)
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

Clean up redundant metadata and execution counts in `Zero_shot_prompting.ipynb`
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

implemented all comments & format
  examples/Search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:examples

Refactor `Chat_with_SQL_using_langchain.ipynb` to remove deprecated Colab metadata and improve output formatting
  examples/langchain/Chat_with_SQL_using_langchain.ipynb
Labels: status:awaiting review, component:examples

changes: lint the notebook
  examples/Outfit_Assistant.ipynb
Labels: status:awaiting review, component:examples

ran nbfmt
  quickstarts/Gemini_Chatbot_Tutorial.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

lint check
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

we => you
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/prompting/Providing_base_cases.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/prompting/Basic_Evaluation.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/Tag_and_caption_images.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Apollo_11.ipynb
Labels: status:awaiting review, component:examples

Refactor Apollo 11 notebook to remove unnecessary metadata and clean up output formatting
  examples/Apollo_11.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Apollo_11.ipynb
Labels: status:awaiting review, component:examples

Refactor Apollo 11 notebook to improve output formatting and remove unnecessary markdown cell
  examples/Apollo_11.ipynb
Labels: status:awaiting review, component:examples

Refactor Apollo 11 notebook to remove unnecessary metadata and improve output formatting
  examples/Apollo_11.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Guess_the_shape.ipynb
Labels: status:awaiting review, component:examples

Created using Colab
  examples/Guess_the_shape.ipynb
Labels: status:awaiting review, component:examples

No code changes made.
  examples/Guess_the_shape.ipynb
Labels: status:awaiting review, component:examples

Update googel-generativeai SDK to google-genai SDK v1.0 with google colab
  examples/prompting/Providing_base_cases.ipynb
Labels: status:awaiting review, component:examples

Update README.md
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Update README.md
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Update README.md
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

[WIP] Update google-generativeai to google-genai with google colab
  quickstarts/New_in_002.ipynb
Labels: status:awaiting review, component:quickstarts

Created using Colab
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples
