Repository google-gemini/cookbook, changes with the labels that .github/labeler.yml gives for each.
All labels: status:awaiting review, component:examples, component:quickstarts

.github/labeler.yml:

'status:awaiting review':
- '**/*'

'component:examples':
- examples/**/*

'component:quickstarts':
- quickstarts/**/*

docs: fix typo in 'output' and formatting in README.md (#575)
  README.md
Labels: status:awaiting review

Add Weaviate Query Agent as a Tool (#546)
  examples/weaviate/README.md
  examples/weaviate/query-agent-as-a-tool.ipynb
Labels: status:awaiting review, component:examples

Moving the images to a bucket to save on notebook size (#562)
  quickstarts/Image_out.ipynb
Labels: status:awaiting review, component:quickstarts

Update README.md typo (#582)
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Add a python WebUI for the live audio api (#380)
  examples/fastrtc_ui.py
Labels: status:awaiting review, component:examples

Pin GitHub action versions to specific SHAs (#577)
  .github/workflows/issue-metrics.yml
  .github/workflows/labeler.yml
  .github/workflows/new_examples_links_in_table_of_content.yml
  .github/workflows/stale.yml
Labels: status:awaiting review

updated year
  examples/prompting/Basic_Evaluation.ipynb
Labels: status:awaiting review, component:examples

Delete examples/Browser_as_a_tool.ipynb（old）
  examples/Browser_as_a_tool.ipynb
Labels: status:awaiting review, component:examples

Changed the config format and fixed issue #584
  examples/Browser_as_a_tool.ipynb
Labels: status:awaiting review, component:examples

update notebook to use google-genai SDK (google-gemini#446)
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts

update notebook to use google-genai SDK (#446)
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts

Migrate entity-extraction.ipynb to use new google-genai sdk
  examples/Entity_Extraction.ipynb
Labels: status:awaiting review, component:examples

migrated Voice_memos to use google-gemini new sdk
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

fixed a security issue
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

migrated market a jet pack example
  examples/Market_a_Jet_Backpack.ipynb
Labels: status:awaiting review, component:examples

Fix small typos and standardize the docs
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Updated quickstarts/Video.ipynb to use google-genai SDK
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

Updated to add timeout as well
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

Updated examples/Voice_memos.ipynb to use google-genai SDK
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

Fix typo in quickstarts README.md: 'is your' → 'in your'
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

Updated quickstarts/JSON_mode.ipynb to use google-genai SDK
  quickstarts/JSON_mode.ipynb
Labels: status:awaiting review, component:quickstarts

Create python-package-conda.yml
  .github/workflows/python-package-conda.yml
Labels: status:awaiting review

sudo su && Get_started_LiveAPI.py
  quickstarts/sudo su && Get_started_LiveAPI.py
Labels: status:awaiting review, component:quickstarts

nbfmt
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Streaming.ipynb
Labels: status:awaiting review, component:quickstarts

Fix text on async guide
  quickstarts/Asynchronous_requests.ipynb
Labels: status:awaiting review, component:quickstarts

Fix text on auth guide
  quickstarts/Authentication.ipynb
Labels: status:awaiting review, component:quickstarts

Fix text on streaming guide
  quickstarts/Streaming.ipynb
Labels: status:awaiting review, component:quickstarts

Migrating the outdated quickstarts examples (#503)
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Streaming.ipynb
Labels: status:awaiting review, component:quickstarts

Remove `generation_config` from Live API setup
  examples/Browser_as_a_tool.ipynb
Labels: status:awaiting review, component:examples

Remove `generation_config` from Live API setup (#598)
  examples/Browser_as_a_tool.ipynb
Labels: status:awaiting review, component:examples

nbfmt
  examples/prompting/Basic_Classification.ipynb
Labels: status:awaiting review, component:examples

space
  examples/prompting/Basic_Classification.ipynb
Labels: status:awaiting review, component:examples

Updated `Basic_Classification` notebook to use genai module (#514)
  examples/prompting/Basic_Classification.ipynb
Labels: status:awaiting review, component:examples

Marking links as external so they open in a new tab
  examples/Anomaly_detection_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

Update dataset intro
  examples/Classify_text_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

!pip to %pip
  examples/Opossum_search.ipynb
Labels: status:awaiting review, component:examples

Update opossum search (#496)
  examples/Opossum_search.ipynb
  examples/README.md
Labels: status:awaiting review, component:examples

dev(devcontainer): 添加 Jupyter 扩展和代码运行器
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  quickstarts/Get_started_LiveAPI_1742809091981.py
  tempCodeRunnerFile.python
Labels: status:awaiting review, component:quickstarts

Changing the style used to accept the new buttons
  .github/workflows/notebooks.yaml
Labels: status:awaiting review

implementing latest changes
  examples/prompting/Adding_context_information.ipynb
Labels: status:awaiting review, component:examples
