Repository google-gemini/cookbook, pull requests merged in 2024-06, with the labels that each got.

#189 Update Function_calling.ipynb
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

#190 Update PDF_Files.ipynb
  quickstarts/PDF_Files.ipynb
Labels: status:awaiting review, component:quickstarts

#191 Fix typos in `JSON_mode.ipynb`
  quickstarts/JSON_mode.ipynb
Labels: status:awaiting review, component:quickstarts

#180 Point gemini-1.5-flash-latest as default model for all quickstart notebooks
  quickstarts/Audio.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Authentication_with_OAuth.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Embeddings.ipynb
  quickstarts/File_API.ipynb
  quickstarts/Function_calling.ipynb
  quickstarts/Function_calling_config.ipynb
  quickstarts/Gemini_Flash_Introduction.ipynb
  quickstarts/Models.ipynb
  quickstarts/PDF_Files.ipynb
  quickstarts/Prompting.ipynb
  quickstarts/Safety.ipynb
  quickstarts/Streaming.ipynb
  quickstarts/System_instructions.ipynb
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

#181 Point gemini-1.5-flash-latest as default model for all notebooks on examples folder
  examples/Agents_Function_Calling_Barista_Bot.ipynb
  examples/Anomaly_detection_with_embeddings.ipynb
  examples/Apollo_11.ipynb
  examples/Classify_text_with_embeddings.ipynb
  examples/Guess_the_shape.ipynb
  examples/Market_a_Jet_Backpack.ipynb
  examples/Opossum_search.ipynb
  examples/Search_Wikipedia_using_ReAct.ipynb
  examples/Search_reranking_using_embeddings.ipynb
  examples/Sherlock_Jr.ipynb
  examples/Story_Writing_with_Prompt_Chaining.ipynb
  examples/Talk_to_documents_with_embeddings.ipynb
  examples/Upload_files_to_Colab.ipynb
  examples/Voice_memos.ipynb
Labels: status:awaiting review, component:examples

#186 Shorter system instructions for basic code generation prompting example.
  examples/prompting/Basic_Code_Generation.ipynb
Labels: status:awaiting review, component:examples

#193 Sentiment analysis JSON example
  examples/json_capabilities/Sentiment_Analysis.ipynb
  examples/prompting/Self_ask_prompting.ipynb
Labels: status:awaiting review, component:examples

#169 Update Story_Writing_with_Prompt_Chaining.ipynb
  examples/Story_Writing_with_Prompt_Chaining.ipynb
Labels: status:awaiting response, component:examples

#192 Use genai.protos instead of google.ai.generativelanguage
  examples/Anomaly_detection_with_embeddings.ipynb
  examples/Classify_text_with_embeddings.ipynb
  examples/Search_reranking_using_embeddings.ipynb
  examples/Talk_to_documents_with_embeddings.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Function_calling.ipynb
  quickstarts/Safety.ipynb
  quickstarts/rest/Safety_REST.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

#199 Update Audio.ipynb to say Gemini 1.5 Flash, not 1.5 Pro
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

#196 Add example notebook for error handling
  quickstarts/Error_handling.ipynb
Labels: status:awaiting review, component:quickstarts

#194 Text classification JSON example
  examples/json_capabilities/Text_Classification.ipynb
Labels: status:awaiting review, component:examples

#164 add chain of thought prompting example
  examples/prompting/Chain_of_thought_prompting.ipynb
Labels: status:awaiting review, component:examples

#162 Add zero shot prompting example
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

#149 Add basic classification prompting tutorial
  examples/prompting/Basic_Classification.ipynb
Labels: status:awaiting review, component:examples

#150 add basic reasoning prompting example
  examples/prompting/Basic_Reasoning.ipynb
Labels: status:awaiting review, component:examples

#205 Chat sql langchain example
  examples/langchain/Chat_with_SQL_using_langchain.ipynb
  examples/prompting/Basic_Code_Generation.ipynb
Labels: status:awaiting review, component:examples

#213 Add context caching quickstart
  quickstarts/Caching.ipynb
Labels: status:awaiting review, component:quickstarts

#168 Add prompting example for self-ask
  examples/prompting/Self_ask_prompting.ipynb
Labels: status:awaiting review, component:examples

#195 Using Gemini to tag and caption images
  examples/Tag_and_caption_images.ipynb
  examples/json_capabilities/Text_Classification.ipynb
Labels: status:awaiting review, component:examples

#214 Adding an Awesome Gemini webpage to showcase the best projects made by the community
  Awesome_gemini.md
  README.md
  examples/README.md
  quickstarts/README.md
Labels: status:awaiting review, component:examples, component:quickstarts

#217 Vector database with ChromaDB
  examples/chromadb/Vectordb_with_chroma.ipynb
Labels: status:awaiting review, component:examples

#218 Adding Qdrant similarity search example
  examples/qdrant/Qdrant_similarity_search.ipynb
Labels: status:awaiting review, component:examples

#216 Question & Answering with LlamaIndex and Chroma (integration)
  examples/llamaindex/Gemini_LlamaIndex_QA_Chroma_WebPageReader.ipynb
Labels: status:awaiting review, component:examples

#200 Fix typos in notebook `Entity_Extraction_JSON.ipynb`
  examples/json_capabilities/Entity_Extraction_JSON.ipynb
Labels: status:awaiting review, component:examples

#222 2M tokens context window
  quickstarts/Counting_Tokens.ipynb
Labels: status:awaiting review, component:quickstarts

#224 Cleanup.
  quickstarts/Code_Execution.ipynb
Labels: status:awaiting review, component:quickstarts

#226 Make sure you get all 200
  quickstarts/Code_Execution.ipynb
Labels: status:awaiting review, component:quickstarts
