Repository google-gemini/cookbook, pull requests merged in 2024-09, with the labels that each got.

#76 Generate personalized product descriptions using the Gemini API and Weaviate
  examples/README.md
  examples/weaviate/docker-compose.yml
  examples/weaviate/personalized_description_with_weaviate_and_gemini_api.ipynb
Labels: status:awaiting response

#268 use response_schema
  examples/Market_a_Jet_Backpack.ipynb
Labels: status:awaiting review, component:examples

#270 Fixing notebook format
  examples/json_capabilities/Text_Classification.ipynb
Labels: status:awaiting review, component:examples

#271 Add an example using Enums
  quickstarts/Enum.ipynb
Labels: status:awaiting review, component:quickstarts

#273 Copy Google AI Studio templates from docs, and update.
  templates/aistudio_gemini_prompt_freeform.ipynb
Labels: status:awaiting review

#230 Update primes example and re-run.
  quickstarts/Code_Execution.ipynb
Labels: status:awaiting review, component:quickstarts

#282 Improving File api notebook
  quickstarts/File_API.ipynb
Labels: status:awaiting review, component:quickstarts

#283 Improving Video notebook
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

#284 Improving Audio notebook
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

#281 Improving Code-execution notebook
  quickstarts/Code_Execution.ipynb
Labels: status:awaiting review, component:quickstarts

#290 Internal links as relative one
  quickstarts/Audio.ipynb
  quickstarts/File_API.ipynb
  quickstarts/Video.ipynb
  templates/Template.ipynb
Labels: status:awaiting review, component:quickstarts

#288 Accept if a file is linked in it's folder's README
  .github/workflows/new_examples_links_in_table_of_content.yml
  examples/README.md
Labels: status:awaiting review, component:examples

#286 Structured output improvements
  quickstarts/Enum.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/rest/JSON_mode_REST.ipynb
Labels: status:awaiting review, component:quickstarts

#278 Function calling improvements
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

#275 Fix environment variable for API key used in cURL example
  quickstarts/Authentication.ipynb
Labels: status:awaiting response, component:quickstarts

#285 Improving caching notebooks
  quickstarts/Caching.ipynb
  quickstarts/rest/Caching_REST.ipynb
Labels: status:awaiting review, component:quickstarts

#287 Code analysis using Gemini, LangChain and DeepLake example
  examples/README.md
  examples/langchain/Code_analysis_using_Gemini_LangChain_and_DeepLake.ipynb
  examples/langchain/README.md
Labels: status:awaiting review, component:examples
