Repository google-gemini/cookbook, pull requests merged in 2024-05, with the labels that each got.

#120 Add workshop files for Workspace / Apps-script lab
  examples/Apps_script_and_Workspace_codelab/CollegeExpenses.xlsx
  examples/Apps_script_and_Workspace_codelab/Gemini-blog.txt
  examples/Apps_script_and_Workspace_codelab/README.md
  examples/Apps_script_and_Workspace_codelab/main.gs
  examples/Apps_script_and_Workspace_codelab/utils.gs
Labels: status:awaiting review, component:examples

#122 Update utils.gs
  examples/Apps_script_and_Workspace_codelab/utils.gs
Labels: status:awaiting review, component:examples

#121 Update main.gs
  examples/Apps_script_and_Workspace_codelab/main.gs
Labels: status:awaiting review, component:examples

#128 The "pip install -U -q google.generativeai" should change to "pip install -U -q google-generativeai" for consistency
  examples/Anomaly_detection_with_embeddings.ipynb
  examples/Classify_text_with_embeddings.ipynb
  examples/Search_Wikipedia_using_ReAct.ipynb
  examples/Talk_to_documents_with_embeddings.ipynb
  quickstarts/Models.ipynb
  quickstarts/Prompting.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

#126 Update "space" issue in the header in all .ipynb files
  examples/Agents_Function_Calling_Barista_Bot.ipynb
  examples/Anomaly_detection_with_embeddings.ipynb
  examples/Classify_text_with_embeddings.ipynb
  examples/Guess_the_shape.ipynb
  examples/Market_a_Jet_Backpack.ipynb
  examples/Opossum_search.ipynb
  examples/Search_Wikipedia_using_ReAct.ipynb
  examples/Search_reranking_using_embeddings.ipynb
  examples/Story_Writing_with_Prompt_Chaining.ipynb
  examples/Talk_to_documents_with_embeddings.ipynb
  examples/Upload_files_to_Colab.ipynb
  quickstarts/Audio.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Authentication_with_OAuth.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Embeddings.ipynb
  quickstarts/File_API.ipynb
  quickstarts/Function_calling.ipynb
  quickstarts/Function_calling_config.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/PDF_Files.ipynb
  quickstarts/Prompting.ipynb
  quickstarts/Safety.ipynb
  quickstarts/Streaming.ipynb
  quickstarts/System_instructions.ipynb
  quickstarts/Tuning.ipynb
  quickstarts/Video.ipynb
  quickstarts/rest/Embeddings_REST.ipynb
  quickstarts/rest/Function_calling_REST.ipynb
  quickstarts/rest/Function_calling_config_REST.ipynb
  quickstarts/rest/JSON_mode_REST.ipynb
  quickstarts/rest/Models_REST.ipynb
  quickstarts/rest/Prompting_REST.ipynb
  quickstarts/rest/Safety_REST.ipynb
  quickstarts/rest/Streaming_REST.ipynb
  quickstarts/rest/System_instructions_REST.ipynb
Labels: status:awaiting review, component:quickstarts

#129 Update README.md for I/O workshop
  examples/Apps_script_and_Workspace_codelab/README.md
Labels: status:awaiting review, component:examples

#127 Update instructions link for uploading files
  quickstarts/File_API.ipynb
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

#125 Adjust Safety.ipynb quickstart with safety filter details
  quickstarts/Safety.ipynb
Labels: status:awaiting review, component:quickstarts

#131 Update File API Video Colab
  quickstarts/File_API.ipynb
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

#132 Merge feature branch.
  quickstarts/Counting_Tokens.ipynb
  quickstarts/File_API.ipynb
  quickstarts/Function_calling.ipynb
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

#133 Include Gemini Flash model quickstart
  quickstarts/Gemini_Flash_Introduction.ipynb
Labels: status:awaiting review, component:quickstarts

#134 Small string adjustment at the Gemini_Flash_Introduction quickstart
  quickstarts/Gemini_Flash_Introduction.ipynb
Labels: status:awaiting review, component:quickstarts

#136 Update Video.ipynb
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

#157 Update "Upload your own files" link in quickstarts /Video.ipynb
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts

#170 Add JSON Schema quickstart.
  quickstarts/JSON_mode.ipynb
Labels: status:awaiting review, component:quickstarts

#178 Add entity extraction JSON example
  examples/json_capabilities/Entity_Extraction_JSON.ipynb
Labels: status:awaiting review, component:examples

#160 add basic evaluation example
  examples/prompting/Basic_Evaluation.ipynb
Labels: status:awaiting review, component:examples

#163 Add example for few shot prompting
  examples/prompting/Few_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

#166 Add example for adding context information for prompting
  examples/prompting/Adding_context_information.ipynb
Labels: status:awaiting review, component:examples

#159 Add basic information extraction example
  examples/prompting/Basic_Information_Extraction.ipynb
Labels: status:awaiting review, component:examples

#165 Add role prompting example
  examples/prompting/Role_prompting.ipynb
Labels: status:awaiting review, component:examples

#167 add example for providing base cases while prompting
  examples/prompting/Providing_base_cases.ipynb
Labels: status:awaiting review, component:examples
