Repository google-gemini/cookbook, pull requests merged in 2024-12, with the labels that each got.

#329 Proofread and improved formatting of Gemini API Cookbook
  README.md
Labels: status:awaiting response

#335 Add WSS context to README
  gemini-2/websockets/README.md
Labels: status:awaiting review

#336 Add a Bash websocket example to the cookbook
  gemini-2/websockets/README.md
  gemini-2/websockets/shell_websockets.sh
Labels: status:awaiting review

#347 Fix internal URL
  quickstarts/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

#348 Add pip install text to starter python scripts
  gemini-2/live_api_starter.py
  gemini-2/websockets/live_api_starter.py
Labels: status:awaiting review

#349 Update live_api_starter.ipynb
  gemini-2/live_api_starter.ipynb
Labels: status:awaiting review

#351 Update README.md
  README.md
Labels: status:awaiting review

#352 New SDK
  README.md
Labels: status:awaiting review

#339 Highlighting the new section
  README.md
Labels: status:awaiting review

#359 Adding screen share support to live_api_starter.py
  gemini-2/live_api_starter.py
Labels: status:awaiting review

#369 Update links in get_started.ipynb
  gemini-2/get_started.ipynb
Labels: status:awaiting review

#373 Setup collapsed by default
  gemini-2/video_understanding.ipynb
Labels: status:awaiting review

#374 Adding a notebook about the Gemini 2.0 Flash Thinking model
  gemini-2/README.md
  gemini-2/get_started.ipynb
  gemini-2/thinking.ipynb
Labels: status:awaiting review

#377 Update live_api_starter scripts.
  gemini-2/live_api_starter.py
  gemini-2/websockets/live_api_starter.py
Labels: status:awaiting review
