Repository google-gemini/cookbook, pull requests merged in 2025-07, with the labels that each got.

#825 Creating a JS folder for JS guides and code samples
  quickstarts/js/Get_Started.js
  quickstarts/js/README.md
Labels: status:awaiting review, component:quickstarts

#830 Moving the js folder to the root
  quickstarts-js/Get_Started.js
  quickstarts-js/README.md
Labels: status:awaiting review

#841 Variable name changes and link fix for `Getting_started_with_ADK.ipynb` notebook
  examples/google-adk/Getting_started_with_ADK.ipynb
  quickstarts-js/Get_Started.js
Labels: status:awaiting review, component:examples

#839 Correct lint issues and add samples for image-out
  quickstarts/Batch_mode.ipynb
Labels: status:awaiting review, component:quickstarts

#842 Changed links for video file in Get Started notebooks
  quickstarts-js/Get_Started.js
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

#843 Creating a Conference folder
  conferences/README.md
Labels: status:awaiting review

#845 Added a line break after code block for proper rendering
  quickstarts-js/Get_Started.js
Labels: status:awaiting review

#844 Updating `Readme.md` for quickstarts-js directory
  quickstarts-js/README.md
Labels: status:awaiting review

#873 Delete unused directory.
  images/colab_logo_32px.png
Labels: status:awaiting review
