Repository google-gemini/cookbook, pull requests merged in 2025-03, with the labels that each got.

#495 migrate: Guess_the_shape.ipynb to new SDK
  examples/Guess_the_shape.ipynb
Labels: status:awaiting review, component:examples

#497 Update Analyze_a_Historic_Event_Recognition to use genai module
  examples/Analyze_a_Video_Historic_Event_Recognition.ipynb
Labels: status:awaiting review, component:examples

#486 Update upload_files_to_colab example to use genai module
  examples/README.md
  examples/Upload_files_to_Colab.ipynb
Labels: status:awaiting review, component:examples

#485 Update apollo_11 example to use genai module
  examples/Apollo_11.ipynb
  examples/README.md
Labels: status:awaiting review, component:examples

#507 Update Text_Classification notebook to use genai module
  examples/json_capabilities/Text_Classification.ipynb
Labels: status:awaiting review, component:examples

#508 Update Text_Summerization notebook to use genai module
  examples/json_capabilities/Text_Summarization.ipynb
Labels: status:awaiting review, component:examples

#491 changed sample.py to use google-genai sdk
  quickstarts/file-api/sample.py
Labels: status:awaiting review, component:quickstarts

#509 Update Entity_extraction_JSON notebook to use genai module
  examples/json_capabilities/Entity_Extraction_JSON.ipynb
Labels: status:awaiting review, component:examples

#506 Update `Sentiment_Analysis` notebook to use genai module
  examples/json_capabilities/Sentiment_Analysis.ipynb
Labels: status:awaiting review, component:examples

#521 updated Embeddings.ipynb to use latest python sdk
  quickstarts/Embeddings.ipynb
Labels: status:awaiting response, component:quickstarts

#527 Update Get_started_LiveAPI.py
  quickstarts/Get_started_LiveAPI.py
Labels: status:awaiting review, component:quickstarts

#531 Updating the function calling notebook to the uSDK
  quickstarts/Function_calling.ipynb
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

#534 adding gemini-embedding model support
  quickstarts/Get_started.ipynb
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
Labels: status:awaiting review, component:quickstarts

#554 added esp32 sample
  examples/iot/esp32/voice_led_controller/README.md
  examples/iot/esp32/voice_led_controller/led_controller.ino
  examples/iot/esp32/voice_led_controller/wiring-diagram.png
Labels: status:awaiting review, component:examples

#556 Image-out
  README.md
  quickstarts/Image_out.ipynb
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

#558 Update Image_out title
  quickstarts/Image_out.ipynb
Labels: status:awaiting review, component:quickstarts

#560 Add a YouTube link example to Get_started notebook
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

#380 Add a python WebUI for the live audio api
  examples/fastrtc_ui.py
Labels: status:awaiting review

#575 docs: fix typo in 'output' and formatting in README.md
  README.md
Labels: status:awaiting review

#526 Update Agents_Calling_Function_Barista_Bot.ipynb to new Python SDK
  examples/Agents_Function_Calling_Barista_Bot.ipynb
Labels: status:awaiting review, component:examples

#546 Add Weaviate Query Agent as a Tool
  examples/weaviate/README.md
  examples/weaviate/query-agent-as-a-tool.ipynb
Labels: status:awaiting review, component:examples

#582 Update README.md typo
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

#583 Add an example showing how to serialise history
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

#503 Migrating the outdated quickstarts examples
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Streaming.ipynb
Labels: status:awaiting response, component:quickstarts

#514 Updated `Basic_Classification` notebook to use genai module
  examples/prompting/Basic_Classification.ipynb
Labels: status:awaiting review, component:examples

#496 Update opossum search
  examples/Opossum_search.ipynb
  examples/README.md
Labels: status:awaiting review, component:examples

#540 Update Get_started_LiveAPI.ipynb
  quickstarts/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:quickstarts

#533 updated `Authentication.ipynb` to use google-genai SDK
  quickstarts/Authentication.ipynb
Labels: status:awaiting review, component:quickstarts

#518 updated `Basic_Reasoning` to latest genai module
  examples/prompting/Basic_Reasoning.ipynb
Labels: status:awaiting review, component:examples

#607 Adding a YT example to the video understanding notebook
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

#605 update thinking
  quickstarts/Get_started_thinking.ipynb
Labels: status:awaiting review, component:quickstarts

#517 updated `Basic_Information_Extraction` notebook to use latest genai sdk
  examples/prompting/Basic_Information_Extraction.ipynb
Labels: status:awaiting review, component:examples

#515 migrated `Basic_Code_Generation` to latest genai module
  examples/prompting/Basic_Code_Generation.ipynb
Labels: status:awaiting review, component:examples

#504 Migrating entity extraction and talk to documents example
  examples/Entity_Extraction.ipynb
  examples/README.md
  examples/Talk_to_documents_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

#523 Update `Chain_Of_Thought_Prompting` notebook to use latest module
  examples/prompting/Chain_of_thought_prompting.ipynb
Labels: status:awaiting review, component:examples

#524 update `Self_Ask_Prompting` notebook to latest genai module
  examples/prompting/Self_ask_prompting.ipynb
Labels: status:awaiting review, component:examples

#555 Updating notebooks in `cookbook/quickstarts/` to use `google-genai` SDK (#446)
  quickstarts/Caching.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Gemini_Flash_Introduction.ipynb
  quickstarts/JSON_mode.ipynb
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts

#564 updated `quickstarts/Prompting.ipynb` to use google-genai sdk
  quickstarts/Prompting.ipynb
Labels: status:awaiting review, component:quickstarts

#580 Update System_instructions.ipynb to new Python SDK
  quickstarts/System_instructions.ipynb
Labels: status:awaiting review, component:quickstarts

#594 Fix typo in quickstarts README.md: 'is your' → 'in your'
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

#612 Migrated `Working_with_Charts_Graphs_and_Slide_Decks`
  examples/Working_with_Charts_Graphs_and_Slide_Decks.ipynb
Labels: status:awaiting review, component:examples

#618 Fixed issue#617
  examples/prompting/Basic_Code_Generation.ipynb
Labels: status:awaiting review, component:examples

#613 Updated documentation
  examples/Apollo_11.ipynb
  examples/json_capabilities/Sentiment_Analysis.ipynb
Labels: status:awaiting review, component:examples

#611 migrated `Qdrant_similarity_search.ipynb` notebook
  examples/README.md
  examples/qdrant/Qdrant_similarity_search.ipynb
Labels: status:awaiting review, component:examples

#610 Migrating vectordb with chroma
  examples/chromadb/Vectordb_with_chroma.ipynb
Labels: status:awaiting review, component:examples

#592 Updated quickstarts/Video.ipynb to use google-genai SDK
  quickstarts/Video.ipynb
Labels: status:awaiting review, component:quickstarts
