Repository google-gemini/cookbook, pull requests merged in 2025-02, with the labels that each got.

#430 Correct broken link to Get_started.md in quickstarts/README.md
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

#438 add link to migration guide
  README.md
Labels: status:awaiting review

#437 Fix model for search grounding REST notebook
  quickstarts/rest/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

#439 Add PDF to Structured Data example
  examples/Pdf_structured_outputs_on_invoices_and_forms.ipynb
  examples/README.md
  quickstarts/PDF_Files.ipynb
Labels: status:awaiting review, component:examples

#441 Adding a link to the PDF+structured output in the main readme
  README.md
Labels: status:awaiting review

#444 Update README.md
  README.md
Labels: status:awaiting review

#447 Simplify file usage
  quickstarts/Get_started.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts

#448 Fix wget command
  examples/Pdf_structured_outputs_on_invoices_and_forms.ipynb
Labels: status:awaiting review, component:examples

#452 update code execution cookbook to new SDK
  quickstarts/Code_Execution.ipynb
Labels: status:awaiting review, component:quickstarts

#455 Update Audio notebook
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

#454 Fixed grounding to build
  quickstarts/rest/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

#458 Adding audio rest sample to quickstarts
  quickstarts/rest/Audio_REST.ipynb
Labels: status:awaiting review, component:quickstarts

#463 Fixing broken link
  examples/Pdf_structured_outputs_on_invoices_and_forms.ipynb
Labels: status:awaiting review, component:examples

#470 fix cache in getting started notebook
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

#467 Migrating the count token guide to the unified SDK
  quickstarts/Counting_Tokens.ipynb
Labels: status:awaiting review, component:quickstarts

#459 adding OpenAI compatibility quickstart
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
Labels: status:awaiting response, component:quickstarts

#474 fixing Code_Execution.ipynb and adding the execution outputs
  quickstarts/Code_Execution.ipynb
Labels: status:awaiting review, component:quickstarts

#476 Improving Code execution notebook
  quickstarts/Code_Execution.ipynb
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

#433 Add a Browser-as-a-tool example notebook
  README.md
  examples/Browser_as_a_tool.ipynb
  examples/README.md
Labels: status:awaiting review, component:examples

#480 Updating model list ouput
  quickstarts/Models.ipynb
Labels: status:awaiting review, component:quickstarts

#481 Update model list ouput
  quickstarts/Models.ipynb
Labels: status:awaiting review, component:quickstarts
