Repository google-gemini/cookbook, pull requests merged in 2025-08, with the labels that each got.

#889 Updating models in contributing.md
  CONTRIBUTING.md
Labels: status:awaiting review

#882 Spelling: "fixced" to "fixed", Context Caching
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

#894 Fixes #852 by removing a mention of the Python SDK
  quickstarts/Embeddings.ipynb
Labels: status:awaiting review, component:quickstarts

#804 Delete quickstarts/Tuning.ipynb
  quickstarts/Tuning.ipynb
Labels: status:awaiting review, component:quickstarts

#902 docs: typo in Imagen4 rest guide
  quickstarts/Get_started_imagen_rest.ipynb
Labels: status:awaiting review, component:quickstarts

#895 Adding Async Function calling examples
  quickstarts/Get_started_LiveAPI_tools.ipynb
Labels: status:awaiting review, component:quickstarts

#871 docs: fix typo 'speciefying' in qdrant guide
  examples/qdrant/Qdrant_similarity_search.ipynb
Labels: status:awaiting review, component:examples

#917 Reformatting quickstarts readme
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts
