Repository google-gemini/cookbook, pull requests merged in 2025-01, with the labels that each got.

#397 Updating prompt to request a single cookie recipe
  gemini-2/get_started.ipynb
Labels: status:awaiting review

#399 New version requires `input=` keyword for arg.
  gemini-2/live_api_starter.ipynb
  gemini-2/live_api_starter.py
Labels: status:awaiting review

#400 Add "input=" as it's now needed with the new SDK version
  gemini-2/live_api_tool_use.ipynb
Labels: status:awaiting review

#403 Switch gemini-pro to gemini-1.5-flash
  examples/langchain/Gemini_LangChain_QA_Chroma_WebLoad.ipynb
  examples/langchain/Gemini_LangChain_QA_Pinecone_WebLoad.ipynb
  examples/weaviate/personalized_description_with_weaviate_and_gemini_api.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Prompting.ipynb
  quickstarts/rest/Function_calling_REST.ipynb
  quickstarts/rest/Models_REST.ipynb
  quickstarts/rest/Prompting_REST.ipynb
  quickstarts/rest/Safety_REST.ipynb
  quickstarts/rest/Streaming_REST.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

#401 Templates have moved b/379307117
  CONTRIBUTING.md
  examples/CONTRIBUTING.md
  quickstarts/Template.ipynb
  templates/aistudio_gemini_prompt_freeform.ipynb
  templates/aistudio_gemini_prompt_freeform_nofiles.ipynb
Labels: status:awaiting review, component:quickstarts

#405 Fixing Lint issues
  examples/weaviate/personalized_description_with_weaviate_and_gemini_api.ipynb
  quickstarts/rest/Function_calling_REST.ipynb
Labels: status:awaiting review, component:examples, component:quickstarts

#406 Fixing internal links in github
  gemini-2/get_started.ipynb
Labels: status:awaiting review

#412 Thinking update
  gemini-2/thinking.ipynb
Labels: status:awaiting review

#410 Fix: Broken links in jupyter notebooks
  examples/Guess_the_shape.ipynb
  examples/langchain/Gemini_LangChain_QA_Chroma_WebLoad.ipynb
  examples/langchain/Gemini_LangChain_QA_Pinecone_WebLoad.ipynb
  examples/langchain/Gemini_LangChain_Summarization_WebLoad.ipynb
Labels: status:awaiting review, component:examples

#409 Fix: Broken Vertex AI links in Gemini Notebooks
  gemini-2/search_tool_for_research_report.ipynb
  gemini-2/thinking.ipynb
  gemini-2/video_understanding.ipynb
Labels: status:awaiting review

#417 docs: Add comment about response modalities limitation
  gemini-2/live_api_starter.py
Labels: status:awaiting review

#420 Add @thomasendale's gradio example
  gemini-2/gradio_audio.py
Labels: status:awaiting review

#422 Fix Colab image
  quickstarts/Function_calling.ipynb
Labels: status:awaiting review, component:quickstarts

#428 Replace path -> files
  quickstarts/Get_started.ipynb
  quickstarts/Video_understanding.ipynb
Labels: status:awaiting review, component:quickstarts
