Repository google-gemini/cookbook, pull requests merged in 2025-04, with the labels that each got.

#626 Migrating quickstarts pdf
  quickstarts/PDF_Files.ipynb
Labels: status:awaiting review, component:quickstarts

#579 Updated examples/prompting/Role_prompting.ipynb to use google-genai SDK
  examples/prompting/Role_prompting.ipynb
Labels: status:awaiting review, component:examples

#627 migrated `file_API` to latest sdk
  quickstarts/File_API.ipynb
Labels: status:awaiting review, component:quickstarts

#621 Updated `Zero_shot_prompting.ipynb` to `google-genai` SDK
  examples/prompting/Zero_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

#622 Update package to google-genai in `examples/Classify_text_with_embeddings.ipynb`
  examples/Classify_text_with_embeddings.ipynb
Labels: status:awaiting review, component:examples

#639 updated `Few_shot_prompting.ipynb` to use `google-genai` SDK
  examples/prompting/Few_shot_prompting.ipynb
Labels: status:awaiting review, component:examples

#632 Add new search ( Google search with Gemini )
  quickstarts/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

#648 Fixing Live API example
  quickstarts/Search_Grounding.ipynb
Labels: status:awaiting review, component:quickstarts

#634 Migrating `quickstarts/safety` notebook
  quickstarts/Safety.ipynb
Labels: status:awaiting review, component:quickstarts

#644 updated `Story_Writing_with_Prompt_Chaning.ipynb` to google-genai SDK
  examples/Story_Writing_with_Prompt_Chaining.ipynb
Labels: status:awaiting review, component:examples

#640 Update package to google-genai in `examples/Translate_a_Public_Domain_Book.ipynb`
  examples/Translate_a_Public_Domain_Book.ipynb
Labels: status:awaiting review, component:examples

#633 Add youtube Example
  quickstarts/Audio.ipynb
Labels: status:awaiting review, component:quickstarts

#661 Updated Virtual Try-On notebook to use Gemini 2.5 for segmentation mask.
  examples/README.md
  examples/Virtual_Try_On.ipynb
Labels: status:awaiting review, component:examples

#675 Updated `readme.md` for `quickstarts`
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

#646 Chat_with_SQL_using_langchain.ipynb update to google genai
  examples/langchain/Chat_with_SQL_using_langchain.ipynb
Labels: status:awaiting review, component:examples

#683 Remove Personal Collab Link
  examples/langchain/Chat_with_SQL_using_langchain.ipynb
Labels: status:awaiting review, component:examples

#697 update live api cookbook
  quickstarts/Get_started_LiveAPI.ipynb
Labels: status:awaiting review, component:quickstarts

#716 add Flash 2.0 to caching notebook
  quickstarts/Caching.ipynb
  quickstarts/Get_started.ipynb
Labels: status:awaiting review, component:quickstarts

#720 updating cookbooks for the Gemini 2.5 Flash launch
  quickstarts/Asynchronous_requests.ipynb
  quickstarts/Audio.ipynb
  quickstarts/Authentication.ipynb
  quickstarts/Caching.ipynb
  quickstarts/Code_Execution.ipynb
  quickstarts/Counting_Tokens.ipynb
  quickstarts/Enum.ipynb
  quickstarts/File_API.ipynb
  quickstarts/Function_calling.ipynb
  quickstarts/Gemini_Flash_Introduction.ipynb
  quickstarts/Get_started.ipynb
  quickstarts/Get_started_thinking.ipynb
Labels: status:awaiting review, component:quickstarts

#727 Simplifying the thinking notebook
  quickstarts/Get_started_thinking.ipynb
Labels: status:awaiting review, component:quickstarts

#713 Feat: Corrected quickstarts files
  quickstarts/Authentication.ipynb
  quickstarts/README.md
Labels: status:awaiting review, component:quickstarts

#653 Updated Tag_and_caption_images.ipynb to use google-genai
  examples/Tag_and_caption_images.ipynb
Labels: status:awaiting review, component:examples

#654 Formatting Guess_the_shape.ipynb.ipynb Notebook
  examples/Guess_the_shape.ipynb
Labels: status:awaiting review, component:examples

#678 Adding detailed guidelines to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: status:awaiting review

#743 Update OpenAI Getting Started to add new `reasoning_effort`
  quickstarts/Get_started_OpenAI_Compatibility.ipynb
Labels: status:awaiting review, component:quickstarts

#631 Merged `examples/function_calling_config.ipynb` into `examples/function_calling.ipynb` notebook
  quickstarts/Function_calling.ipynb
  quickstarts/Function_calling_config.ipynb
Labels: status:awaiting review, component:quickstarts

#642 Updated Basic_Evaluation.ipynb to use google-genai
  examples/prompting/Basic_Evaluation.ipynb
Labels: status:awaiting review, component:examples

#691 Update import advice in template
  quickstarts/Template.ipynb
Labels: status:awaiting review, component:quickstarts
